{% extends 'facades/base.html' %}
{% load static %}


{% block css %}

{% include 'facades/parts/css.html' %}

{% endblock %}


{% block main %}



    <main class="main">

          <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
              <div class="container d-flex align-items-center">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                      <li class="breadcrumb-item"><a href="#">محصولات</a></li>
                      <li class="breadcrumb-item active" aria-current="page">پیش فرض</li>
                  </ol>


              </div><!-- End .container -->
          </nav><!-- End .breadcrumb-nav -->

          <div class="page-content">
              <div class="container">
                  <div class="product-details-top">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="product-gallery product-gallery-vertical">
                                  <div class="row">
                                      <figure class="product-main-image">
                                          <img id="product-zoom" src="{{product.image.url}}"
                                              data-zoom-image="assets/images/products/single/1-big.jpg"
                                              alt="تصویر محصول">

                                          <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                              <i class="icon-arrows"></i>
                                          </a>
                                      </figure><!-- End .product-main-image -->

                                      <div id="product-zoom-gallery" class="product-image-gallery">
                                          <a class="product-gallery-item active" href="#"
                                              data-image="assets/images/products/single/1.jpg"
                                              data-zoom-image="assets/images/products/single/1-big.jpg">
                                              <img src="{{product.image2.url}}"
                                                  alt="توضیحات تصویر">
                                          </a>

                                          <a class="product-gallery-item" href="#"
                                              data-image="assets/images/products/single/2.jpg"
                                              data-zoom-image="assets/images/products/single/2-big.jpg">
                                              <img src="assets/images/products/single/2-small.jpg"
                                                  alt="توضیحات تصویر">
                                          </a>

                                          <a class="product-gallery-item" href="#"
                                              data-image="assets/images/products/single/3.jpg"
                                              data-zoom-image="assets/images/products/single/3-big.jpg">
                                              <img src="assets/images/products/single/3-small.jpg"
                                                  alt="توضیحات تصویر">
                                          </a>

                                          <a class="product-gallery-item" href="#"
                                              data-image="assets/images/products/single/4.jpg"
                                              data-zoom-image="assets/images/products/single/4-big.jpg">
                                              <img src="assets/images/products/single/4-small.jpg" alt="product back">
                                          </a>
                                      </div><!-- End .product-image-gallery -->
                                  </div><!-- End .row -->
                              </div><!-- End .product-gallery -->
                          </div><!-- End .col-md-6 -->

                          <div class="col-md-6">
                              <div class="product-details">
                                  <h1 class="product-title">{{product.name}}</h1>
                                  <!-- End .product-title -->

                                  <div class="ratings-container">
                                      <div class="ratings">
                                          <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                      </div><!-- End .ratings -->
                                      <a class="ratings-text" href="#product-review-link" id="review-link">( 2 نظر
                                          )</a>
                                  </div><!-- End .rating-container -->

                                  <div class="product-price">
                                      {{product.discounted_price}} تومان
                                  </div><!-- End .product-price -->

                                  <!-- <div class="product-content">
                                      <p> {{product.description}}
                                      </p>
                                  </div> -->

                                  <!-- <div class="details-filter-row details-row-size">
                                      <label>رنگ : </label>

                                      <div class="product-nav product-nav-thumbs">
                                          <a href="#" class="active">
                                              <img src="assets/images/products/single/1-thumb.jpg" alt="product desc">
                                          </a>
                                          <a href="#">
                                              <img src="assets/images/products/single/2-thumb.jpg" alt="product desc">
                                          </a>
                                      </div>
                                  </div> -->



                                  <!-- <div class="details-filter-row details-row-size">
                                      <label for="size">سایز : </label>
                                      <div class="select-custom">
                                          <select name="size" id="size" class="form-control">
                                              <option value="#" selected="selected">سایز را انتخاب کنید</option>
                                              <option value="s">کوچک (Small)</option>
                                              <option value="m">متوسط (Medium)</option>
                                              <option value="l">بزرگ (Large)</option>
                                              <option value="xl">خیلی بزرگ (XLarge)</option>
                                          </select>
                                      </div> -->

                                      <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>راهنمای اندازه</a>
                                  </div> -->





                                  <div class="details-filter-row details-row-size">
                                      <label for="qty">تعداد : </label>
                                      <div class="product-details-quantity">
                                          <input type="number" id="qty" class="form-control" value="1" min="1"
                                              max="10" step="1" data-decimals="0" required>
                                      </div><!-- End .product-details-quantity -->
                                  </div><!-- End .details-filter-row -->

                                  <div class="product-details-action">
                                      

                                        
                                      {% if user.is_authenticated %}
                                      <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                      <div class="details-action-wrapper">
                                        
                                          <a href="{% url 'accounts:AddToWish' product.id %}" class="btn-product btn-wishlist"
                                              title="لیست علاقه مندی"><span>افزودن
                                                  به
                                                  علاقه مندی</span></a>

                                                    <!-- <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                  لیست مقایسه</span></a> -->
                                      </div><!-- End .details-action-wrapper -->
                                        {% else %}
                                        <a href="#signin-modal" data-toggle="modal" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                        <div class="details-action-wrapper">
                                        <a href="#signin-modal" data-toggle="modal" class="btn-product btn-wishlist"
                                        title="لیست علاقه مندی"><span>افزودن
                                            به
                                            علاقه مندی</span></a>

                                              <!-- <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                  لیست مقایسه</span></a> -->
                                        </div><!-- End .details-action-wrapper -->
                                        {% endif %}


                                        
                                  </div><!-- End .product-details-action -->

                                  <div class="product-details-footer">
                                      <div class="product-cat text-center">
                                          <span>دسته بندی : </span>
                                        {% for cati in product.category.all %}
                                          <a href="{{cati.get_absolute_url}}"> {{cati.name}} </a>
                                          {% endfor %}
                                      </div><!-- End .product-cat -->



                                      <!-- <div class="social-icons social-icons-sm">
                                          <span class="social-label">اشتراک گذاری : </span>
                                          <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                  class="icon-facebook-f"></i></a>
                                          <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                  class="icon-twitter"></i></a>
                                          <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                  class="icon-instagram"></i></a>
                                          <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                  class="icon-pinterest"></i></a>
                                      </div> -->



                                  </div><!-- End .product-details-footer -->
                              </div><!-- End .product-details -->
                          </div><!-- End .col-md-6 -->
                      </div><!-- End .row -->
                  </div><!-- End .product-details-top -->

                  <div class="product-details-tab">
                      <ul class="nav nav-pills justify-content-center" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                  href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                  aria-selected="true">توضیحات</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                                  role="tab" aria-controls="product-info-tab" aria-selected="false">اطلاعات بیشتر</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="product-review-link" data-toggle="tab"
                                  href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                  aria-selected="false">نظرات ({{product.comments.count}})</a>
                          </li>
                      </ul>
                      <div class="tab-content">

                          <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                              aria-labelledby="product-desc-link">
                              <div class="product-desc-content">
                                  <h3>اطلاعات محصول</h3>
                                  <p>{{product.description}}</p>
                              </div><!-- End .product-desc-content -->
                          </div><!-- .End .tab-pane -->

                          <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                              aria-labelledby="product-info-link">
                              <div class="product-desc-content">
                                  <h3>اطلاعات</h3>
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                      سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                                      ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم
                                      ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>

                                  <h3>اطلاعات بیشتر</h3>
                                  <ul>
                                      <li>لورم ایپسوم متن ساختگی</li>
                                      <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                      <li>لورم ایپسوم</li>
                                      <li>لورم ایپسوم متن ساختگی </li>
                                      <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                      <li> ارتفاع: 31سانتی متر; عرض: 32سانتی متر; عمق: 12سانتی متر</li>
                                  </ul>

                                  <h3>سایز</h3>
                                  <p>تک سایز</p>
                              </div><!-- End .product-desc-content -->
                          </div><!-- .End .tab-pane -->

                          <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                              aria-labelledby="product-review-link">
                              <div class="reviews">
                                  <h3>نظر ({{product.comments.count}})</h3>

                                  
                                    {% for cm in product.comments.all %}
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">{{cm.user.PhoneNumber}}</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <span class="star-rating" style="width: {{ cm.rating|floatformat }}0%;">
                                                            <span class="sr-only">{{ cm.rating }}</span>
                                                        </span><!-- End .star-rating -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <span class="review-date">{{ cm.created|date:"F j, Y" }}</span>
                                            </div><!-- End .col -->
                                            <div class="col-12">
                                                <!-- <h4>خیلی عالی</h4> -->
                                                <div class="review-content">
                                                    <p>{{cm.text}}</p>
                                                </div><!-- End .review-content -->
                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>مثبت (0)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>منفی (0)</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                  {% endfor %}

                              </div><!-- End .نظر -->
                          </div><!-- .End .tab-pane -->

                      </div><!-- End .tab-content -->
                  </div><!-- End .product-details-tab -->

                  <h2 class="title text-center mb-4">محصولاتی که شاید بپسندید</h2><!-- End .title text-center -->

                  <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                      data-owl-options='{
                          "nav": false,
                          "dots": true,
                          "margin": 20,
                          "loop": false,
                          "rtl": true,
                          "responsive": {
                              "0": {
                                  "items":1
                              },
                              "480": {
                                  "items":2
                              },
                              "768": {
                                  "items":3
                              },
                              "992": {
                                  "items":4
                              },
                              "1200": {
                                  "items":4,
                                  "nav": true,
                                  "dots": false
                              }
                          }
                      }'>


                      {% for s in Suggested %}
                      <div class="product product-7 text-center">
                          <figure class="product-media">
                              <span class="product-label label-new">جدید</span>
                              <a href="{{s.get_absolute_url}}">
                                  <img src="{{s.image.url}}" alt="تصویر محصول"
                                      class="product-image">
                              </a>

                              <div class="product-action-vertical">
                                  <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن به
                                          لیست علاقه مندی</span></a>
                                  <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                      title="مشاهده سریع"><span>مشاهده سریع</span></a>
                                  <a href="#" class="btn-product-icon btn-compare" title="مقایسه"><span>لیست
                                          مقایسه</span></a>
                              </div><!-- End .product-action-vertical -->

                              <div class="product-action">
                                  <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                              </div><!-- End .product-action -->
                          </figure><!-- End .product-media -->

                          <div class="product-body">
                              <div class="product-cat text-center">
                                  <a href="#">{{s.category.name}}</a>
                              </div><!-- End .product-cat -->
                              <h3 class="product-title text-center"><a href="{{s.get_absolute_url}}">{{s.name}}</a></h3>
                              <!-- End .product-title -->
                              <div class="product-price">
                                  {{s.discounted_price}} تومان
                              </div><!-- End .product-price -->
                              <div class="ratings-container">
                                  <div class="ratings">
                                      <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                  </div><!-- End .ratings -->
                                  <span class="ratings-text">( 2 دیدگاه )</span>
                              </div><!-- End .rating-container -->

                              <div class="product-nav product-nav-thumbs">
                                  <a href="{{s.get_absolute_url}}" class="active">
                                      <img src="{{s.image2.url}}" alt="product desc">
                                  </a>
                                  {% if s.image3 != None %}
                                  <a href="{{s.get_absolute_url}}" class="active">
                                      <img src="{{s.image3.url}}" alt="product desc">
                                  </a>
                                  {% else %}
                                  {% endif %}




                              </div><!-- End .product-nav -->
                          </div><!-- End .product-body -->
                      </div><!-- End .product -->
                      {% endfor %}


                  </div><!-- End .owl-carousel -->
              </div><!-- End .container -->
          </div><!-- End .page-content -->


      </main>


{% endblock %}
