{% extends 'facades/base.html' %}
{% load static %}


{% block css %}

{% include 'facades/parts/css.html' %}

<link rel="stylesheet" href="{% static 'facades/css/myCss.css' %}">

{% endblock %}


{% block main %}


    <main class="main">

          <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
              <div class="container d-flex align-items-center">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url "facades:home" %}">خانه</a></li>
                      {% for cat in product.category.all %}
                      <li class="breadcrumb-item"><a href="{{cat.get_absolute_url}}">{{cat}}</a></li>
                      {% endfor %}
                      <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                  </ol>


              </div><!-- End .container -->
          </nav><!-- End .breadcrumb-nav -->

          <div class="page-content">
              <div class="container">
                  <div class="product-details-top">
                      <div class="row">
                          <div class="col-md-6">

                              <div class="product-gallery product-gallery-vertical">
                                  <div class="row">
                                      <figure class="product-main-image imageNajla">
                                          <img class="a1" id="product-zoom-{{product.images.first.id}}" src="{{product.image.url}}"
                                              data-zoom-image = "{{product.image.url}}"
                                              alt="{{product.alt}}">

                                      </figure><!-- End .product-main-image -->
                                      <button id="btn-product-gallery" class="btn-product-gallery" style="border:None">
                                              <i class="icon-arrows"></i>
                                          </button>
                                          

                                      <div id="product-zoom-gallery" class="product-image-gallery">

                                        <a class="product-gallery-item" 
                                              data-image="{{img.image.url}}"
                                              data-zoom-image="{{img.image.url}}">
                                              <img class="another-image-option" src="{{product.image.url}}"
                                                  alt="{{product.alt}}">
                                          </a>
                                        
                                        {% for img in product.images.all %}
                                          <a class="product-gallery-item" 
                                              data-image="{{img.image.url}}"
                                              data-zoom-image="{{img.image.url}}">
                                              <img class="another-image-option" src="{{img.image.url}}"
                                                  alt="{{img.alt}}">
                                          </a>
                                          {% endfor %}


                                          

                                          
                                      </div><!-- End .product-image-gallery -->
                                  </div><!-- End .row -->

                              </div><!-- End .product-gallery -->

                              
                          </div><!-- End .col-md-6 -->
                          

                          <div class="col-md-6">
                              <div class="product-details">
                                  <h1 class="product-title">{{product.name}}</h1>
                                  <!-- End .product-title -->

                                  <div class="ratings-container">
                                      <div class="ratings">
                                          <div class="ratings-val" style="width: {{product.star_rating}}%;"></div><!-- End .ratings-val -->
                                      </div><!-- End .ratings -->
                                      <a class="ratings-text" href="#product-review-link" id="review-link">( {{comments.count}} نظر
                                          )</a>
                                  </div><!-- End .rating-container -->

                                  <div class="product-price">
                                      {{product.discounted_price}} تومان
                                  </div><!-- End .product-price -->

                                   <div class="product-content">
                                      <p> {{product.clean_short_description|safe}}
                                      </p>
                                  </div> 

                                  
                                      <div class="product-details-action">

                                    {% if user.is_authenticated %}

                                    {% if product.available %}

                                      <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {% if product.colors.all.count > 0 %}
                                   <div class="details-filter-row details-row-size">
                                        <label>رنگ : </label>

                                        <div class="product-nav product-nav-dots">
                                            {% for color in product.colors.all %}                                             
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="{{color.id}}"
                                                            name="color" value="{{color.en}}">
                                                        <label class="custom-control-label" for="{{color.id}}"><a class="active" style="background: #{{color.code}};"><span
                                                    class="sr-only">نام رنگ</span></a></label>
                                                    </div><!-- End .custom-checkbox -->
                                            {% endfor %}
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .details-filter-row -->
                                    {% endif %}



                                   {% comment %} <div class="details-filter-row details-row-size">
                                      <label for="size">سایز : </label>
                                      <div class="select-custom">
                                          <select name="size" id="size" class="form-control">
                                              <option value="#" selected="selected">سایز را انتخاب کنید</option>
                                              <option value="s">کوچک (Small)</option>
                                              <option value="m">متوسط (Medium)</option>
                                              <option value="l">بزرگ (Large)</option>
                                              <option value="xl">خیلی بزرگ (XLarge)</option>
                                          </select>
                                      </div>  {% endcomment %}

                                       {% comment %} <a href="#" class="size-guide"><i class="icon-th-list"></i>راهنمای اندازه</a>
                                  </div>  {% endcomment %}





                                  

                                  
                                    
                                      

                                        
                                      
                                     <!-- Add to Cart -->
                                     
                                        {% csrf_token %}
                                        <div class="details-filter-row details-row-size">
                                          <label for="quantity">تعداد : </label>
                                          <div class="product-details-quantity">
                                            <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1" max="9" step="1" data-decimals="0" required>
                                          </div><!-- End .product-details-quantity -->
                                        </div><!-- End .details-filter-row -->
                                            <button type="submit" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></button>       
                                      </form>
                                      {% else %}
                                        <div class="details-action-wrapper">
                                        
                                          <a href="{% url 'accounts:AddToInforming' product.id %}" class="btn-product "
                                              title="لیست علاقه مندی">   </i> <span><i class="icon-rotate-left"> </i>
                                               وقتی موجود شد به من خبر بده! </span></a>

                                      </div>    
                                      {% endif %}


                                      <div class="details-action-wrapper">
                                        
                                          <a href="{% url 'accounts:AddToWish' product.id %}" class="btn-product btn-wishlist"
                                              title="لیست علاقه مندی"><span>افزودن
                                                  به
                                                  علاقه مندی</span></a>

                                                    <!-- <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                  لیست مقایسه</span></a> -->
                                      </div><!-- End .details-action-wrapper -->
                                        {% else %}
                                        <a href="#signin-modal" data-toggle="modal" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                        <div class="details-action-wrapper">
                                        <a href="#signin-modal" data-toggle="modal" class="btn-product btn-wishlist"
                                        title="لیست علاقه مندی"><span>افزودن
                                            به
                                            علاقه مندی</span></a>

                                              <!-- <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                  لیست مقایسه</span></a> -->
                                        </div><!-- End .details-action-wrapper -->
                                        {% endif %}


                                        
                                  </div><!-- End .product-details-action -->

                                  <div class="product-details-footer">
                                      <div class="product-cat text-center">
                                          <span>دسته بندی : </span>
                                        {% for cati in product.category.all %}
                                          <a href="{{cati.get_absolute_url}}"> {{cati.name}} </a>
                                          {% endfor %}
                                      </div><!-- End .product-cat -->



                                      <!-- <div class="social-icons social-icons-sm">
                                          <span class="social-label">اشتراک گذاری : </span>
                                          <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                  class="icon-facebook-f"></i></a>
                                          <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                  class="icon-twitter"></i></a>
                                          <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                  class="icon-instagram"></i></a>
                                          <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                  class="icon-pinterest"></i></a>
                                      </div> -->



                                  </div><!-- End .product-details-footer -->
                              </div><!-- End .product-details -->
                          </div><!-- End .col-md-6 -->
                      </div><!-- End .row -->
                  </div><!-- End .product-details-top -->

                  <div class="product-details-tab">
                      <ul class="nav nav-pills justify-content-center" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                  href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                  aria-selected="true">توضیحات</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                                  role="tab" aria-controls="product-info-tab" aria-selected="false">اطلاعات بیشتر</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="product-review-link" data-toggle="tab"
                                  href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                  aria-selected="false">نظرات ({{comments.count}})</a>
                          </li>
                      </ul>
                      <div class="tab-content">

                          <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                              aria-labelledby="product-desc-link">
                              <div class="product-desc-content">
                                  <h3>اطلاعات محصول</h3>
                                  <p>{{product.clean_description|safe}}</p>
                              </div><!-- End .product-desc-content -->
                          </div><!-- .End .tab-pane -->

                          <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                              aria-labelledby="product-info-link">
                              <div class="product-desc-content">
                                  <h3>اطلاعات</h3>
                                  <p>{{product.clean_more_info|safe}}</p>
                              </div><!-- End .product-desc-content -->
                          </div><!-- .End .tab-pane -->

                          <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                              aria-labelledby="product-review-link">
                              <div class="reviews">
                                  <h3>{{comments.count}} دیدگاه </h3>

                                  
                                    {% for cm in comments %}
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a>{{cm.user.PhoneNumber}}</a></h4>

                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: {{cm.star_rating}}%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->

                                                <span class="review-date">{{cm.days_since_creation}}</span>
                                            </div><!-- End .col -->
                                            <div class="col-12">
                                                <!-- <h4>خیلی عالی</h4> -->
                                                <div class="review-content">
                                                    <p>{{cm.text}}</p>
                                                </div><!-- End .review-content -->
                                                <div class="review-action">
                                                    <a href="{% url 'accounts:LikeComment' cm.id %}"><i class="icon-thumbs-up"></i>مثبت ({{cm.likes.count}})</a>

                                                    
                                                    <a href="{% url 'accounts:DisLikeComment' cm.id %}"><i class="icon-thumbs-down"></i>منفی ({{cm.dislikes.count}})</a>
                                                </div><!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->

                                  {% endfor %}
                                  
                                  <form action="{% url 'accounts:AddComment' product.id 0 %}" method="post">
                                        {% csrf_token %}
                                        {{CommentForm}}
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>ثبت نظر</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </form>

                              </div><!-- End .نظر -->
                          </div><!-- .End .tab-pane -->

                      </div><!-- End .tab-content -->
                  </div><!-- End .product-details-tab -->

                  <h2 class="title text-center mb-4">محصولاتی که شاید بپسندید</h2><!-- End .title text-center -->

                  <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                      data-owl-options='{
                          "nav": false,
                          "dots": true,
                          "margin": 20,
                          "loop": false,
                          "rtl": true,
                          "responsive": {
                              "0": {
                                  "items":1
                              },
                              "480": {
                                  "items":2
                              },
                              "768": {
                                  "items":3
                              },
                              "992": {
                                  "items":4
                              },
                              "1200": {
                                  "items":4,
                                  "nav": true,
                                  "dots": false
                              }
                          }
                      }'>


                      {% for s in Suggested %}
                      <div class="product product-7 text-center">
                          <figure class="product-media">
                              {% if not s.available %} <span class="product-label label-out">ناموجود</span> 
                              {% elif s.is_new %} <span class="product-label label-new">جدید</span> 
                              {% elif s.discounted %} <span class="product-label label-sale">تخفیف ویژه</span> 
                              {% endif %}
                              <a href="{{s.get_absolute_url}}">
                              {% if s.image %}
                                  <img src="{{s.image.url}}" alt="{{s.alt}}"
                                      class="product-image">
                                {% endif %}
                              </a>

                              <div class="product-action-vertical">
                                  <a href="{% url 'accounts:AddToWish' product.id %}" class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن به
                                          لیست علاقه مندی</span></a>
                              </div><!-- End .product-action-vertical -->

                              
                          </figure><!-- End .product-media -->

                          <div class="product-body">
                              <div class="product-cat text-center">
                                  {% for cat in s.category.all %}
                                  <a href="{{cat.get_absolute_url}}">{{cat}}</a>
                                  {% endfor %}
                              </div><!-- End .product-cat -->
                              <h3 class="product-title text-center"><a href="{{s.get_absolute_url}}">{{s.name}}</a></h3>
                              <!-- End .product-title -->
                              <div class="product-price">
                                  {{s.discounted_price}} تومان
                              </div><!-- End .product-price -->
                              <div class="ratings-container">
                                  <div class="ratings">
                                      <div class="ratings-val" style="width:{{s.star_rating}}%"></div><!-- End .ratings-val -->
                                  </div><!-- End .ratings -->
                                  <span class="ratings-text">( {{s.comments.count}} دیدگاه )</span>
                              </div><!-- End .rating-container -->

                              <div class="product-nav product-nav-thumbs">
                                  {% for img in s.images.all %}
                                    <a href="" class="active">
                                        <img src="{{img.image.url}}" alt="{{img.alt}}">
                                    </a>
                                  {% endfor %}
                                  




                              </div><!-- End .product-nav -->
                          </div><!-- End .product-body -->
                      </div><!-- End .product -->
                      {% endfor %}


                  </div><!-- End .owl-carousel -->
              </div><!-- End .container -->
          </div><!-- End .page-content -->

        <div class="image-container" style="display: flex;align-items: center;justify-content: center;background:rgba(255, 255, 255, 0.9);position: fixed;top: 0;right:-200%;z-index: 10000;height: 100%;width: 100%;">
            <span id="close-login-btn" style="position: absolute; top: 1.5rem; right:2.5rem; font-size: 5rem; color: #000; cursor: pointer;">X</span>
            <img class="img-selected" src="{{product.image.url}}" alt="" style="width:55rem; height:auto;">
        </div>


      </main>



<script>


const mainImage = document.querySelector('.a1');
        const optionImages = document.querySelectorAll('.product-gallery-item');
        const imageContainer = document.querySelector('.image-container')

        // Add a click event listener to each option image
        optionImages.forEach(function(anyoptionImage) {
        anyoptionImage.addEventListener('click', function() {
            // Replace the source of the main image with the clicked option image
            mainImage.src = anyoptionImage.src;
        });
        });

        document.querySelector('.btn-product-gallery').addEventListener('click', function(){
            document.querySelector('.img-selected').src = mainImage.src;
            imageContainer.style.right = "0";
        })

        document.querySelector('#close-login-btn').onclick = () => {
            imageContainer.style.right = "-200%";
        }


</script>







{% endblock %}
