<div class="owl-carousel owl-simple owl-nav-align" data-toggle="owl" data-owl-options='{
        "nav": false,
        "dots": true,
        "margin": 30,
        "loop": true,
        "autoplay": true,
        "autoplayHoverPause": true,
        "autoplayTimeout": 3000,
        "rtl": true,
"responsive": {
            "0": {
                "items":2
            },
            "420": {
                "items":3
            },
            "600": {
                "items":4
            },
            "900": {
                "items":5
            },
            "1024": {
                "items":6,
                "nav": true,
                "dots": false
            }
        }
    }'>
    <a href="#" class="brand">
        <img src="assets/images/brands/2.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/3.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/4.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/5.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/6.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/1.png" alt="brand name">
    </a>

    <a href="#" class="brand">
        <img src="assets/images/brands/2.png" alt="brand name">
    </a>
</div><!-- End .owl-carousel -->
