<div class="cat-blocks-container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/1.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">کامپیوتر رومیزی</h3>
                <!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/2.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">مانیتور</h3><!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/3.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">لپ تاپ</h3><!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/4.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">آی پد و تب لت</h3>
                <!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/5.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">فضای ذخیره سازی</h3>
                <!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/6.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">پرینتر</h3>
                <!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->

        <div class="col-6 col-md-4 col-lg-3">
            <a href="category.html" class="cat-block">
                <figure>
                    <span>
                        <img src="assets/images/demos/demo-13/cats/cat-page/7.jpg"
                            alt="Category image">
                    </span>
                </figure>

                <h3 class="cat-block-title">لوازم جانبی کامپیوتر</h3>
                <!-- End .cat-block-title -->
            </a>
        </div><!-- End .col-6 col-md-4 col-lg-3 -->
    </div><!-- End .row -->
</div><!-- End .cat-blocks-container -->
