{% load static %}


<div class="category-banners-slider owl-carousel owl-simple owl-nav-inside"
    data-toggle="owl" data-owl-options='{
        "nav": false,
        "loop": true,
        "autoplay": true,
        "autoplayHoverPause": true,
        "autoplayTimeout": 3000,
        "rtl": true,
"responsive": {
            "768": {
                "nav": true
            }
        }
    }'>
    {% for ct in banners.ct %}
    <div class="banner banner-poster">

        <a href="{{ct.get_absolute_url}}">
            <img src="{{ct.image.url}}" alt="banner">
        </a>

        <div class="banner-content banner-content-right">
            <h3 class="banner-subtitle"><a href="{{ct.get_absolute_url}}">{{ct.smallTitle}}</a></h3>
            <!-- End .banner-subtitle -->
            <h2 class="banner-title" dir="rtl">{{ct.bigTitle}}<a href="{{ct.get_absolute_url}}"></a>
            </h2>
            <!-- End .banner-title -->
            <a href="{{ct.get_absolute_url}}" class="banner-link">{{ct.button}}<i class="icon-long-arrow-left"></i></a>
        </div><!-- End .banner-content -->
    </div><!-- End .banner -->
    {% endfor %}

   
</div><!-- End .owl-carousel -->
