<div class="cta cta-horizontal cta-horizontal-box bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h3 class="cta-title text-white text-right">عضویت در خبرنامه</h3><!-- End .cta-title -->
                <p class="cta-desc text-white">با عضویت در خبرنامه از جدیدترین محصولات و تخفیف ها با خبر
                    شوید</p>
                <!-- End .cta-desc -->
            </div><!-- End .col-lg-5 -->

            <div class="col-lg-7">
                <form action="#">
                    <div class="input-group">
                        <input type="email" class="form-control form-control-white"
                            placeholder="ایمیل خود را وارد کنید" aria-label="Email Adress" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-white-2" type="submit"><span>عضویت</span><i
                                    class="icon-long-arrow-left"></i></button>
                        </div><!-- .End .input-group-append -->
                    </div><!-- .End .input-group -->
                </form>
            </div><!-- End .col-lg-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .cta -->
