<h2 class="title title-border">محصولات جدید</h2><!-- End .title -->

<div class="owl-carousel owl-simple owl-nav-top carousel-equal-height carousel-with-shadow"
    data-toggle="owl" data-owl-options='{
        "nav": true,
        "dots": false,
        "margin": 20,
        "loop": false,
        "rtl": true,
"responsive": {
            "0": {
                "items":2
            },
            "480": {
                "items":2
            },
            "768": {
                "items":3
            },
            "1200": {
                "items":4
            }
        }
    }'>
    <div class="product">
        <figure class="product-media">
            <span class="product-label label-top">برتر</span>
            <a href="product.html">
                <img src="assets/images/demos/demo-13/products/product-7.jpg"
                    alt="تصویر محصول" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#"
                    class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                        به لیست علاقه مندی</span></a>
                <a href="#" class="btn-product-icon btn-compare"
                    title="مقایسه"><span>مقایسه</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                    title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"
                    title="افزودن به سبد خرید"><span>افزودن به
                        سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">لپ تاپ</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">لپ تاپ MacBook Pro - سایز 13
                    اینچ</a>
            </h3><!-- End .product-title -->
            <div class="product-price">
                1,990,000 تومان
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 100%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 4 بازدید )</span>
            </div><!-- End .rating-container -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->

    <div class="product">
        <figure class="product-media">
            <a href="product.html">
                <img src="assets/images/demos/demo-13/products/product-8.jpg"
                    alt="تصویر محصول" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#"
                    class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                        به لیست علاقه مندی</span></a>
                <a href="#" class="btn-product-icon btn-compare"
                    title="مقایسه"><span>مقایسه</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                    title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"
                    title="افزودن به سبد خرید"><span>افزودن به
                        سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">لوازم صوتی</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">مینی اسپیکر بلوتوثی</a></h3>
            <!-- End .product-title -->
            <div class="product-price">
                790,000 تومان
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 60%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 6 بازدید )</span>
            </div><!-- End .rating-container -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->

    <div class="product">
        <figure class="product-media">
            <span class="product-label label-new">جدید</span>
            <a href="product.html">
                <img src="assets/images/demos/demo-13/products/product-9.jpg"
                    alt="تصویر محصول" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#"
                    class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                        به لیست علاقه مندی</span></a>
                <a href="#" class="btn-product-icon btn-compare"
                    title="مقایسه"><span>مقایسه</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                    title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"
                    title="افزودن به سبد خرید"><span>افزودن به
                        سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">تب لت</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">آیپد پرو - سایز 11 اینچ - حافظه
                    256 گیگ</a></h3><!-- End .product-title -->
            <div class="product-price">
                899,000 تومان
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 80%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 4 بازدید )</span>
            </div><!-- End .rating-container -->

            <div class="product-nav product-nav-dots">
                <a href="#" class="active" style="background: #edd2c8;"><span
                        class="sr-only">نام رنگ</span></a>
                <a href="#" style="background: #eaeaec;"><span class="sr-only">نام
                        رنگ</span></a>
                <a href="#" style="background: #333333;"><span class="sr-only">نام
                        رنگ</span></a>
            </div><!-- End .product-nav -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->

    <div class="product">
        <figure class="product-media">
            <span class="product-label label-sale">فروش ویژه</span>
            <a href="product.html">
                <img src="assets/images/demos/demo-13/products/product-10.jpg"
                    alt="تصویر محصول" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#"
                    class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                        به لیست علاقه مندی</span></a>
                <a href="#" class="btn-product-icon btn-compare"
                    title="مقایسه"><span>مقایسه</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                    title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"
                    title="افزودن به سبد خرید"><span>افزودن به
                        سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">موبایل</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">گوشی Google - مدل Pixel 3 XL -
                    حافظه 128 گیگ</a>
            </h3><!-- End .product-title -->
            <div class="product-price">
                1,650,000 تومان
                <span class="new-price">250,000 تومان</span>
                <span class="old-price">1,900,000 تومان</span>
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 80%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 10 بازدید )</span>
            </div><!-- End .rating-container -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->

    <div class="product">
        <figure class="product-media">
            <span class="product-label label-new">جدید</span>
            <a href="product.html">
                <img src="assets/images/demos/demo-13/products/product-6.jpg"
                    alt="تصویر محصول" class="product-image">
            </a>

            <div class="product-action-vertical">
                <a href="#"
                    class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن
                        به لیست علاقه مندی</span></a>
                <a href="#" class="btn-product-icon btn-compare"
                    title="مقایسه"><span>مقایسه</span></a>
                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                    title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
            </div><!-- End .product-action-vertical -->

            <div class="product-action">
                <a href="#" class="btn-product btn-cart"
                    title="افزودن به سبد خرید"><span>افزودن به
                        سبد خرید</span></a>
            </div><!-- End .product-action -->
        </figure><!-- End .product-media -->

        <div class="product-body">
            <div class="product-cat">
                <a href="#">لواز جانبی</a>
            </div><!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">سیستم صوتی هوشمند </a></h3>
            <!-- End .product-title -->
            <div class="product-price">
                399,000 تومان
            </div><!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" style="width: 80%;"></div>
                    <!-- End .ratings-val -->
                </div><!-- End .ratings -->
                <span class="ratings-text">( 12 بازدید )</span>
            </div><!-- End .rating-container -->
        </div><!-- End .product-body -->
    </div><!-- End .product -->
</div><!-- End .owl-carousel -->
