{% load static %}


<aside class="col-lg-3 col-xl-5col order-lg-first">
    <div class="sidebar sidebar-shop">
    <div class="widget">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                    aria-controls="widget-4">
                    فیلتر های اعمال شده:
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-4">
                <div class="widget-body">
                    <div class="filter-items">

                        {% if filters.price_bool %}
                        
                            <div class="filter-item">
                                قیمت سقف : {{filters.price_high}} تومان
                            </div><!-- End .filter-item -->

                            <div class="filter-item">
                                قیمت کف : {{filters.price_low}} تومان
                            </div><!-- End .filter-item -->

                        {% endif %}

                        <div class="filter-item">
                                برند ها:
                            </div><!-- End .filter-item -->
                        {% if filters.brand_bool %}
                        
                            {% for brand_name in filters.brands %}
                            <div class="filter-item">
                                {{brand_name}}
                            </div><!-- End .filter-item -->
                            {% endfor %}

                        {% endif %}
                        

                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->
    <form method="POST" action="{% url 'stuff:product_search' 1 %}?query={{request.GET.query|default:''}}" enctype="multipart/form-data">{% csrf_token %}
        
        <div class="widget">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                    aria-controls="widget-4">
                    برند
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-4">
                <div class="widget-body">
                    <div class="filter-items">
                        
                        {% for brand in brands.all %}
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-{{brand.id}}" name="brand-{{brand.id}}" value="{{brand.id}}">
                                <label class="custom-control-label" for="brand-{{brand.id}}">{{brand.name}}</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->
                        {% endfor %}
                        

                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->


        <div class="widget">
            <h3 class="widget-title">قیمت</h3><!-- End .widget-title -->

            <div class="widget-body">
                <div class="filter-items">
                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-1"
                                name="filter-price" value="1">
                            <label class="custom-control-label" for="price-1">زیر 250,000
                                تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-2"
                                name="filter-price" value="2">
                            <label class="custom-control-label" for="price-2">بین 250,000 تا
                                500,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-3"
                                name="filter-price" value="3">
                            <label class="custom-control-label" for="price-3">بین 500,000 تا
                                1,000,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-4"
                                name="filter-price" value="4">
                            <label class="custom-control-label" for="price-4">بین 1,000,000 تا
                                2,000,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-5"
                                name="filter-price" value="5">
                            <label class="custom-control-label" for="price-5">بیش تر از
                                2,000,000</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->
                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->



        <div class="widget">
            <h3 class="widget-title">امتیاز مشتری</h3><!-- End .widget-title -->

            <div class="widget-body">

                <div class="filter-items">
                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="cus-rating-1"
                                id="cus-rating-1" >
                            <label class="custom-control-label" for="cus-rating-1">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 100%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 24 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-2">
                            <label class="custom-control-label" for="cus-rating-2">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 80%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 8 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-3">
                            <label class="custom-control-label" for="cus-rating-3">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 60%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 5 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-4">
                            <label class="custom-control-label" for="cus-rating-4">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 40%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 1 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-5">
                            <label class="custom-control-label" for="cus-rating-5">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 20%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 3 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->

        <button type="submit" class="btn-product btn-cart"><span>اعمال فیلتر ها</span></button>
        </form>


    </div><!-- End .sidebar sidebar-shop -->
</aside><!-- End .col-lg-3 -->
