{% load static %}


<aside class="col-lg-3 col-xl-5col order-lg-first">
    <div class="sidebar sidebar-shop">
        <div class="widget widget-categories">
            <h3 class="widget-title">دسته بندی ها</h3><!-- End .widget-title -->

            <div class="widget-body">
                <div class="accordion" id="widget-cat-acc">

                    {% for category in allCategories %}
                    {% if not category.sub %}
                    <div class="acc-item">
                        <h5>
                            <a class="collapsed" role="button" data-toggle="collapse"
                                href="#collapse-{{category.id}}" aria-expanded="false"
                                aria-controls="collapse-{{category.id}}">
                                {{category.name}}
                            </a>
                        </h5>

                        
                        
                        <div id="collapse-{{category.id}}" class="collapse" data-parent="#widget-cat-acc">
                            <div class="collapse-wrap">
                                <ul>
                                    {% for sb in category.scategory.all %}
                                        <li><a href="{{sb.get_absolute_url}}">{{sb.name}}</a></li>
                                    {% endfor %}

                                </ul>
                            </div><!-- End .collapse-wrap -->
                        </div>
                        

                    </div><!-- End .acc-item -->
                    {% endif %}
                    {% endfor %}



                </div><!-- End .accordion -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->

        <div class="widget">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
                    aria-controls="widget-4">
                    برند
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-4">
                <div class="widget-body">
                    <div class="filter-items">
                        
                        {% for brand in brands.all %}
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brand-{{brand.id}}">
                                <label class="custom-control-label" for="brand-{{brand.id}}">{{brand.name}}</label>
                            </div><!-- End .custom-checkbox -->
                        </div><!-- End .filter-item -->
                        {% endfor %}
                        

                    </div><!-- End .filter-items -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <div class="widget">
            <h3 class="widget-title">قیمت</h3><!-- End .widget-title -->

            <div class="widget-body">
                <div class="filter-items">
                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-1"
                                name="filter-price">
                            <label class="custom-control-label" for="price-1">زیر 25,000
                                تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-2"
                                name="filter-price">
                            <label class="custom-control-label" for="price-2">بین 25,000 تا
                                50,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-3"
                                name="filter-price">
                            <label class="custom-control-label" for="price-3">بین 50,000 تا
                                100,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-4"
                                name="filter-price">
                            <label class="custom-control-label" for="price-4">بین 100,000 تا
                                200,000 تومان</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="price-5"
                                name="filter-price">
                            <label class="custom-control-label" for="price-5">بیش تر از
                                200,000</label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->
                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->

        <div class="widget">
            <h3 class="widget-title">امتیاز مشتری</h3><!-- End .widget-title -->

            <div class="widget-body">
                <div class="filter-items">
                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-1">
                            <label class="custom-control-label" for="cus-rating-1">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 100%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 24 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-2">
                            <label class="custom-control-label" for="cus-rating-2">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 80%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 8 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-3">
                            <label class="custom-control-label" for="cus-rating-3">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 60%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 5 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-4">
                            <label class="custom-control-label" for="cus-rating-4">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 40%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 1 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                    <div class="filter-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                id="cus-rating-5">
                            <label class="custom-control-label" for="cus-rating-5">
                                <span class="ratings-container">
                                    <span class="ratings">
                                        <span class="ratings-val" style="width: 20%;"></span>
                                        <!-- End .ratings-val -->
                                    </span><!-- End .ratings -->
                                    <span class="ratings-text">( 3 )</span>
                                </span><!-- End .rating-container -->
                            </label>
                        </div><!-- End .custom-checkbox -->
                    </div><!-- End .filter-item -->

                </div><!-- End .filter-items -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->

        <div class="widget">
            <h3 class="widget-title">رنگ</h3><!-- End .widget-title -->

            <div class="widget-body">
                <div class="filter-colors">
                    <a href="#" style="background: #b87145;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" style="background: #f0c04a;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" style="background: #333333;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" class="selected" style="background: #cc3333;"><span
                            class="sr-only">نام رنگ</span></a>
                    <a href="#" style="background: #3399cc;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" style="background: #669933;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" style="background: #f2719c;"><span class="sr-only">نام
                            رنگ</span></a>
                    <a href="#" style="background: #ebebeb;"><span class="sr-only">نام
                            رنگ</span></a>
                </div><!-- End .filter-colors -->
            </div><!-- End .widget-body -->
        </div><!-- End .widget -->

        <div class="widget widget-banner-sidebar">
            <div class="banner-sidebar-title" dir="ltr">218 x 430px</div>


            <!-- End .ad-title -->

            <div class="banner-sidebar banner-overlay">
                <a href="#">
                    <img src="{% static 'stuff/images/banners/6.jpg' %}" alt="بنر">
                </a>
            </div><!-- End .banner-ad -->




        </div><!-- End .widget -->
    </div><!-- End .sidebar sidebar-shop -->
</aside><!-- End .col-lg-3 -->
