<div class="toolbox">
    <div class="toolbox-left">
        <div class="toolbox-info">
            {{paginator.count}} محصول پیدا شد
        </div><!-- End .toolbox-info -->
    </div><!-- End .toolbox-left -->

        <form method="POST" action="{{request.get_full_path}}" enctype="multipart/form-data">{% csrf_token %}
    <div class="toolbox-right">
        <div class="toolbox-sort">
            <label for="sortby">مرتب سازی بر اساس : </label>
            <div class="select-custom">
                <select name="sortby" id="sortby" class="form-control">
                    <option  value="popularity" selected="selected">محبوب ترین</option>
                    <option value="rating">جدیدترین</option>
                    <option value="date">تاریخ</option>
                </select>
            </div>
        </div><!-- End .toolbox-sort -->
        <div class="toolbox-sort">
            <button type="submit" class="btn-product"><span>اعمال</span></button>
        </div><!-- End .toolbox-sort -->
    </div><!-- End .toolbox-right -->
        </form>
</div><!-- End .toolbox -->



<div class="products mb-3">
    <div class="row">

        {% for product in products %}
        <div class="col-6 col-md-4 col-xl-3">
            <div class="product">
              <figure class="product-media">
                  <a href="{{product.get_absolute_url}}">
                      <img src="{{product.image.url}}"
                          alt="تصویر محصول" class="product-image">
                      <img src="{{product.images.first.image.url}}"
                          alt="تصویر محصول" class="product-image-hover">
                  </a>

                  {% if product in request.user.wishlist.all %}
                    <div class="product-action-vertical">
                        <a href="{% url 'accounts:RomeveToWish' product.id %}" class="btn-product-icon btn-wishlist active" ><span></span></a>
                    </div>
                    {% else %}
                    <div class="product-action-vertical">
                        <a href="{% url 'accounts:AddToWish' product.id %}" class="btn-product-icon btn-wishlist"><span class="icon-heart"></span></a>
                    </div>
                    {% endif %}<!-- End .product-action-vertical -->

                    <div class="product-action">
                        <a href="#" class="btn-product btn-cart"
                            title="افزودن به سبد خرید"><span>افزودن به سبد خرید</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                        
                        <a>{{ product.category.all|join:", " }}</a>
                        {% comment %} {% for cat in product.category.all %}
                        <a href="{{cat.url}}">{{cat.name}} </a>
                        {% endfor %} {% endcomment %}
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="product.html">{{product.name}}</a>
                    </h3>
                    <!-- End .product-title -->
                    <div class="product-price">
                        {{product.discounted_price}} تومان
                    </div><!-- End .product-price -->
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: {{product.star_rating}}%;"></div>
                            <!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( {{product.comments.count}} دیدگاه )</span>
                    </div><!-- End .rating-container -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-md-4 col-xl-3 -->
        {% endfor %}



    </div><!-- End .row -->
</div><!-- End .products -->
{% if products.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                aria-disabled="true">
                <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
            </a>
        </li>
        {% if products.has_previous %}

            {% if category %}
            <li class="page-item"><a class="page-link" href="{% url 'stuff:'|add:request.resolver_match.url_name category.id products.previous_page_number %}">{{products.previous_page_number}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'stuff:'|add:request.resolver_match.url_name products.previous_page_number %}{% if query %}?query={{query}}{% endif %}">{{products.previous_page_number}}</a></li>
            {% endif %}

        {% endif %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{products.number}}</a>
        </li>
        {% if products.has_next %}
        {% if category %}
        <li class="page-item"><a class="page-link" href="{% url 'stuff:'|add:request.resolver_match.url_name  category.id products.next_page_number %}">{{products.next_page_number}}</a></li>
        <li class="page-item">
            <a class="page-link page-link-next" href="{% url 'stuff:'|add:request.resolver_match.url_name category.id products.next_page_number %}" aria-label="Next">
                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
            </a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'stuff:'|add:request.resolver_match.url_name  products.next_page_number %}{% if query %}?query={{query}}{% endif %}">{{products.next_page_number}}</a></li>
        <li class="page-item">
            <a class="page-link page-link-next" href="{% url 'stuff:'|add:request.resolver_match.url_name  products.next_page_number %}{% if query %}?query={{query}}{% endif %}" aria-label="Next">
                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
            </a>
        </li>
        {% endif %}
        
        
        
        
        {% endif %}
        <li class="page-item-total">از {{num_pages}}</li>
    </ul>
</nav>
{% else %}

{% endif %}