{% extends 'facades/base.html' %}
{% load static %}

{% block css %}{% include 'facades/parts/css.html' %}{% endblock %}


{% block main %}

  
<main class="main">

{% include 'cart/parts/banner.html' %}



<div class="page-content">
                <div class="checkout">
                    <div class="container">
                        {% comment %} <div class="checkout-discount">
                            <form action="{% url 'cart:coupon_apply' %}" method="POST"> {% csrf_token %}
                                <input type="text" class="form-control" required id="checkout-discount-input" name="code" >
                                <label for="checkout-discount-input" class="text-truncate">کد تخفیف دارید؟ <span>برای
                                        وارد کردن کد تخفیف خود اینجا کلیک کنید</span></label>
                            </form>
                        </div><!-- End .checkout-discount --> {% endcomment %}




                        
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title">آدرس اصلی:</h2><!-- End .checkout-title -->
                                    
                                        <h6 class="checkout-title">{{caddress.text}} - کد پستی: {{caddress.postal_code}}</h3>
                                    


                                    <h2 class="checkout-title">آدرس ها:</h2><!-- End .checkout-title -->
                                    <form class="" action="{% url 'accounts:change_main_address' %}" method="post">{% csrf_token %}
                                    {% for address in request.user.addresses.all %}

                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="{{address.id}}"
                                            name="address_id" value="{{address.id}}">
                                        <label class="custom-control-label" for="{{address.id}}">{{address.text}} - کد پستی: {{address.postal_code}}</label>
                                    </div><!-- End .custom-checkbox -->
                                    {% endfor %}
                                    
                                        <button type="submit" class="btn btn-outline-primary-2">
                                                <span>انتخاب آدرس</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>

                                    </form>

                                    <h2 class="checkout-title">افزودن آدرس جدید</h2><!-- End .checkout-title -->
                                    <form action="{% url 'accounts:add_address' %}" method="post"> {% csrf_token %}

                                        {{addressForm}}

                                        <button type="submit" class="btn btn-outline-primary-2 float-right">
                                            <span>ذخیره آدرس</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </form>
                                    


                                </div><!-- End .col-lg-9 -->
                                
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">سفارش شما</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>محصول</th>
                                                    <th class="text-left">جمع</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for item in cart %}
                                                <tr>
                                                    <td><a href="{{item.product.get_absolute_url}}">{{item.product}}</a></td>
                                                    <td class="text-left">{{item.show_total_price}} تومان</td>
                                                </tr>
                                                {% endfor %}
                                                <tr class="summary-subtotal">
                                                    <td>جمع سبد خرید</td>
                                                    <td class="text-left">{{cart.show_total}} تومان</td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>شیوه ارسال : </td>
                                                    <td class="text-left">ارسال رایگان</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>مبلغ قابل پرداخت :</td>
                                                    <td class="text-left">{{cart.get_total_price}} تومان</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title">
                                                        <a role="button" data-toggle="collapse" href="#collapse-1"
                                                            aria-expanded="true" aria-controls="collapse-1">
                                                            درگاه زرین پال
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .card -->

                                                
                                            </div><!-- End .accordion -->

                                            <a href="{% url 'orders:order_create' caddress.id %}" class="btn btn-outline-primary-2 btn-order btn-block">پرداخت</a>
                                        </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->




                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->


        </main><!-- End .main -->


{% endblock %}
