{% extends 'facades/base.html' %}
{% load static %}

{% block css %}{% include 'facades/parts/css.html' %}{% endblock %}


{% block main %}


        {% include 'cart/parts/banner.html' %}

        <div class="page-content">
          <div class="cart">
              <div class="container">
                  <div class="row">

        {% include 'cart/parts/cart.html' %}

        {% include 'cart/parts/order.html' %}


      </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .cart -->
</div><!-- End .page-content -->
</main><!-- End .main -->


{% endblock %}
