{% load static %}

<header class="header header-intro-clearance header-3">
    <div class="header-top">
        <div class="container">


        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="{% url 'facades:home' %}" class="logo">
                    <img src="{% static 'facades/images/dorbin.png' %}" alt="Molla Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">جستجو</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q"
                                placeholder="جستجوی محصول ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">

              <!-- Status Login -->

                <div class="wishlist">
                    <a href="wishlist.html" title="لیست محصولات مورد علاقه شما">
                        <div class="icon">
                            <i class="icon-user"></i>
                            <!-- <span class="wishlist-count badge">New</span> -->
                        </div>
                        <p>ورود</p>
                    </a>
                </div><!-- End .compare-dropdown -->


                <!-- Status Logined -->

                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">2</span>
                        </div>
                        <p>سبد خرید</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">کتونی ورزشی مخصوص دویدن رنگ بژ</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        84,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="assets/images/products/cart/product-1.jpg" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">لباس زنانه آبی</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1 x </span>
                                        76,000 تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="assets/images/products/cart/product-2.jpg" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>مجموع</span>

                            <span class="cart-total-price">160,000 تومان</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="cart.html" class="btn btn-primary">مشاهده سبد خرید</a>
                            <a href="checkout.html" class="btn btn-outline-primary-2"><span>پرداخت</span><i
                                    class="icon-long-arrow-left"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->




            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static"
                        title="دسته بندی فروشگاه">
                        منو <i class="icon-angle-down"></i>
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">

                                <li class="item-lead"><a href="#">تخفیف های روزانه</a></li>
                                <li class="item-lead"><a href="#">هدیه ها</a></li>
                                <li class="item-lead"><a href="#">درباره ما</a></li>
                                <li class="item-lead"><a href="#">ارتباط با ما</a></li>


                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">



                        <li>
                            <a href="#" class="sf-with-ul">صفحات </a>

                            <ul>
                                <li>
                                    <a href="about.html" class="sf-with-ul">درباره ما</a>

                                    <ul>
                                        <li><a href="about.html">درباره ما 01</a></li>
                                        <li><a href="about-2.html">درباره ما 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html" class="sf-with-ul">تماس با ما</a>

                                    <ul>
                                        <li><a href="contact.html">تماس با ما 01</a></li>
                                        <li><a href="contact-2.html">تماس با ما 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="invoice-template/invoice-template.html" class="sf-with-ul">قالب
                                        فاکتور</a>

                                    <ul>
                                        <li><a href="invoice-template/invoice-template.html">قالب فاکتور 01</a></li>
                                        <li><a href="invoice-template/invoice-template2.html">قالب فاکتور 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="email-template/email-template.html" class="sf-with-ul">قالب
                                        ایمیل</a>

                                    <ul>
                                        <li><a href="email-template/email-template.html">قالب ایمیل 01</a>
                                        </li>
                                        <li><a href="email-template/email-order-success.html">قالب ایمیل 02 - سفارش موفق</a>
                                        </li>
                                        <li><a href="email-template/email-promotional.html">قالب ایمیل 03</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="login.html">ورود</a></li>
                                <li><a href="forget-password.html">فراموشی رمز عبور</a></li>
                                <li><a href="track-order.html">پیگیری سفارش</a></li>
                                <li><a href="faq.html">سوالات متداول</a></li>
                                <li><a href="404.html">خطای 404</a></li>
                                <li><a href="coming-soon.html">به زودی</a></li>
                            </ul>
                        </li>


                        {% for cat in allCategories %}

                        <li>
                            <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
                        </li>

                        {% endfor %}




                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <p>خرید<span class="highlight">&nbsp;تا 30 درصد تخفیف</span></p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
