{% load static %}

<header class="header header-intro-clearance header-3">
    <div class="header-top">
        <div class="container">
                    <div class="header-left">
                        <a href=""><i class="icon-phone"></i>تلفن تماس : 02155667788</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu">
                            <li>
                                
                                <ul>
                                    {% comment %} <li>
                                        <div class="header-dropdown">
                                            <a href="#">تومان</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">دلار</a></li>
                                                    <li><a href="#">تومان</a></li>
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div>
                                    </li> 
                                     <li>
                                        <div class="header-dropdown">
                                            <a href="#">فارسی</a>
                                            <div class="header-menu">
                                                <ul>
                                                    <li><a href="#">انگلیسی</a></li>
                                                    <li><a href="#">فرانسوی</a></li>
                                                    <li><a href="#">ترکی استانبولی</a></li>
                                                </ul>
                                            </div><!-- End .header-menu -->
                                        </div><!-- End .header-dropdown -->
                                    </li>
                                    <li><a href="#signin-modal" data-toggle="modal">ورود / ثبت نام</a></li> {% endcomment %}
                                    <li><p> به گیزموشاپ خوش اومدید! </li></p>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
    </div><!-- End .header-top -->
    

    <div class="header-middle" style="height: 10rem;">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="{% url 'facades:home' %}" class="logo">
                    <img src="{% static 'facades/images/logi.png' %}" alt="Logo image" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="{% url 'stuff:product_search' 1 %}" method="GET">
                      <div class="header-search-wrapper search-wrapper-wide">
                        <label for="query" class="sr-only">جستجو</label>
                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        <input type="search" class="form-control" name="query" id="query" placeholder="جستجوی محصول ..." required>
                      </div><!-- End .header-search-wrapper -->
                    </form>
                  </div><!-- End .header-search -->
            </div>

            <div class="header-right">

              <!-- Status Login -->
                
              {% if request.user.is_authenticated %}

              <div class="wishlist">
                            <a href="{% url 'stuff:showWishList' 1 %}" title="لیست محصولات مورد علاقه شما">
                                <div class="icon">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">{{wishlistAmount}}</span>
                                </div>
                                <p>مورد علاقه</p>
                            </a>
                  </div>

                <!-- Status Logined -->
                
                <div class="dropdown cart-dropdown">
                    <a href="{% url 'cart:detail' %}" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{cart.get_count}}</span>
                        </div>
                        <p>سبد خرید</p>
                    </a>
                    {% if cart.get_count != 0 %}
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">


                            {% for item in cart %}
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{{item.product.get_absolute_url}}">{{item.product}}</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">{{item.quantity}} x </span>
                                        {{item.product.discounted_price}} تومان
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="{{item.product.get_absolute_url}}" class="product-image">
                                        <img src="{{item.product.image.url}}" alt="{{item.product.alt}}">
                                    </a>
                                </figure>
                                {% if item.product %}
                                <a href="{% url 'cart:cart_remove' item.id %}" class="btn-remove" title="حذف محصول"><i class="icon-close"></i></a>
                                {% endif %}
                            </div><!-- End .product -->
                            {% endfor %}

                            
                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>مجموع</span>

                            <span class="cart-total-price">{{cart.get_total_price}} تومان</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="{% url 'cart:detail' %}" class="btn btn-primary">مشاهده سبد خرید</a>
                            <a href="checkout.html" class="btn btn-outline-primary-2"><span>پرداخت</span><i
                                    class="icon-long-arrow-left"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                    {% else %}

                {% endif %}
                </div><!-- End .cart-dropdown -->
                

              {% else %}
              <div class="wishlist">
                  <a href="#signin-modal" data-toggle="modal" title="Login">
                      <div class="icon">
                          <i class="icon-user"></i>
                          <!-- <span class="wishlist-count badge">New</span> -->
                      </div>
                      <p>ورود</p>
                  </a>
              </div><!-- End .compare-dropdown -->
                {% endif %}



            
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
    

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-display="static"
                        title="دسته بندی فروشگاه">
                        منو <i class="icon-angle-down"></i>
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">

                                <li class="item-lead"><a href="{% url 'facades:dashboard' %}">داشبورد</a></li>
                                <li class="item-lead"><a href="{% url 'facades:aboutUs' %}">درباره ما</a></li>
                                <li class="item-lead"><a href="{% url 'facades:contact' %}">ارتباط با ما</a></li>
                                <li class="item-lead"><a href="{% url 'facades:FAQ' %}">سوالات متداول</a></li>


                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">



                        {% for cat in allCategories %}

                        <li>
                            <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
                        </li>

                        {% endfor %}




                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->



            <div class="header-right">
                <i class="la la-lightbulb-o"></i>
                <!-- <p>خرید<span class="highlight">&nbsp;تا 30 درصد تخفیف</span></p> -->
            </div>



        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
