{% load static %}


<footer class="footer footer-dark">

    

    <div class="footer-middle">
        <div class="container">
            <div class="row" >
                <div class="col-sm-6 col-lg-3" style="height: 25rem;">
                    <div class="widget widget-about" >
                        <img src="{{site.logo.url}}" class="footer-logo" alt="Footer Logo"
                            width="105" height="45" >
                        <p>{{site.description}}</p>

                        <div class="social-icons" >
                            <a href="{{site.insta}}" class="social-icon" title="اینستاگرام" target="_blank"><i
                                  class="icon-instagram"></i></a>
                            <a href="{{site.whatsapp}}" class="social-icon" title="واتساپ" target="_blank"><i
                                    class="icon-whatsapp"></i></a>
                            <a href="{{site.telegram}}" class="social-icon" title="تلگرام" target="_blank"><i
                                    class="icon-telegram"></i></a>

                            <!-- <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                    class="icon-twitter"></i></a>

                            <a href="#" class="social-icon" title="یوتیوب" target="_blank"><i
                                    class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                    class="icon-pinterest"></i></a> -->

                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="{% url 'blog:home_blog' %}">اخبار</a></li>
                            <li><a href="{% url 'facades:aboutUs' %}">درباره ما</a></li>
                            <!-- <li><a href="#">خدمات</a></li> -->
                            <!-- <li><a href="#">نحوه خرید</a></li> -->
                            <li><a href="{% url 'facades:contact' %}">تماس با ما</a></li>
                            <li><a href="{% url 'facades:FAQ' %}">سوالات متداول</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->



                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            {% if request.user.is_authenticated %}
                            {% else %}  
                            <li><a href="{% url "accounts:login" %}">ورود</a></li>
                            {% endif %}
                            <li><a href="{% url 'administratorship:dashboard' %}">داشبورد</a></li>
                            <li><a href="{% url "cart:detail" %}">سبد خرید</a></li>
                            <li><a href="{% url "stuff:showWishList" 1 %}">لیست علاقه مندی ها</a></li>
                            <li><a href="{% url "administratorship:dashboard" %}">پیگیری سفارشات</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->



                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">آخرین مقالات</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            {% for article in footer_articles %}
                            <li><a href="{{article.get_absolute_url}}">{{article.title}}</a></li>
                            {% endfor %}
                            
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->





            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">

    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
