{% if messages %}

    {% for message in messages %}
    
    <div class="after-click" style="background-color: rgba(127, 255, 0, 0.5);">
        <span>{{message}}</span>
    </div>
    {% endfor %}



{% endif %}








<script>

let afterClick = document.querySelector('.after-click');
let clickHere =document.querySelector('.clickhere');

clickHere.onclick =() => {
    afterClick.classList.toggle('active');

    window.setTimeout(3000);
    
};

document.addEventListener('DOMContentLoaded', function() {
            var div = document.querySelector('.after-click');
            div.classList.add('najla');
        });


</script>


