<div class="icon-boxes-container">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-rocket"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">ارسال رایگان</h3><!-- End .icon-box-title -->
                          <p>برای سفارشات بالای 50 هزار تومان</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-rotate-left"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">بازگرداندن رایگان</h3><!-- End .icon-box-title -->
                          <p>تا 30 روز بعد از خرید</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-info-circle"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">20% تخفیف برای اولین خرید</h3>
                          <!-- End .icon-box-title -->
                          <p>کافیست ثبت نام کنید</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                  <div class="icon-box icon-box-side">
                      <span class="icon-box-icon">
                          <i class="icon-life-ring"></i>
                      </span>

                      <div class="icon-box-content">
                          <h3 class="icon-box-title">پشتیبانی حرفه ای</h3><!-- End .icon-box-title -->
                          <p>خدمات حرفه ای 24 ساعته/7روز هفته</p>
                      </div><!-- End .icon-box-content -->
                  </div><!-- End .icon-box -->
              </div><!-- End .col-sm-6 col-lg-3 -->
          </div><!-- End .row -->
      </div><!-- End .container -->
  </div>