{% load static %}


<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">

                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                aria-selected="true">داشبورد</a>
                        </li>
                        
                        
                        

                        
                        <li class="nav-item">
                            <a class="nav-link" id="tab-add-config-link" data-toggle="tab" href="#tab-add-config"
                                role="tab" aria-controls="tab-add-config" aria-selected="false">اطلاعات متنی سایت</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-color-link" data-toggle="tab" href="#tab-color"
                                role="tab" aria-controls="tab-color" aria-selected="false">رنگبندی سایت</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="tab-logo-link" data-toggle="tab" href="#tab-logo"
                                role="tab" aria-controls="tab-logo" aria-selected="false">لوگوها</a>
                        </li>
                        
                    </ul>
                </aside><!-- End .col-lg-3 -->



                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">

                        
                        {% include "administratorship/configDashboardPart/mainPane.html" %}


                        

                        {% include "administratorship/configDashboardPart/TextInfo.html" %}

                        {% include "administratorship/configDashboardPart/color.html" %}

                        {% include "administratorship/configDashboardPart/Logo.html" %}




                        


                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->