{% load static %}



<div class="tab-pane fade" id="tab-address" role="tabpanel"
                            aria-labelledby="tab-address-link">
                            <p>آدرسی که اینجا ثبت می کنید به صورت پیش فرض برای ارسال محصولات به شما استفاده
                                می شود.</p>
                            

                            {% for address in request.user.addresses.all %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">آدرس شما</h3><!-- End .card-title -->

                                                <p>{{address.user.full_name}}<br>
                                                    {{address.phone_number}}<br>
                                                    {{address.city}}<br>
                                                    {{address.postal_code}}<br>
                                                    {{address.text}}<br>
                                                    <a href="#">ویرایش <i class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-12 -->
                                </div><!-- End .row -->
                            {% endfor %}
                        </div><!-- .End .tab-pane -->