{% load static %}



<div class="tab-pane fade" id="tab-address" role="tabpanel"
                            aria-labelledby="tab-address-link">
                            {% if request.user.addresses.all.count == 0 %}
                            <p>آدرسی ثبت نشده است.</p>

                            
                            
                            {% else %}
                            <p>آدرسی که اینجا ثبت می کنید به صورت پیش فرض برای ارسال محصولات به شما استفاده
                                می شود.</p>
                            

                            {% for address in request.user.addresses.all %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                {% if address.current %}
                                                <h3 class="card-title">آدرس حال حاضر شما</h3><!-- End .card-title -->
                                                {% endif %}

                                                <p>نام: {{address.user.full_name}}<br>
                                                    شماره تلفن: {{address.phone_number}}<br>
                                                    شهر: {{address.city}}<br>
                                                    کد پستی: {{address.postal_code}}<br>
                                                    آدرس: {{address.text}}<br>
                                                    <a href="{% url 'facades:dashboard_id' address.id %}">ویرایش <i class="icon-edit"></i></a></p>
                                                    <a href="{% url 'accounts:delete_address' address.id %}" style="color: red;"> حذف <i class="icon-cog"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-12 -->
                                </div><!-- End .row -->
                            {% endfor %}
                            {% endif %}
                            <a id="tab-add-address-link" href="#tab-add-address" aria-controls="tab-add-address" role="tab"  data-toggle="tab" class="btn btn-outline-primary-2"><span> ثبت آدرس جدید</span><i class="icon-long-arrow-left"></i></a>
                        </div><!-- .End .tab-pane -->