<div class="page-content">
    <div class="dashboard">
        <div class="container">
            <div class="row">


                <aside class="col-md-4 col-lg-3">
                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                aria-selected="true">داشبورد</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                role="tab" aria-controls="tab-orders" aria-selected="false">سفارشات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                role="tab" aria-controls="tab-address" aria-selected="false">آدرس</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                role="tab" aria-controls="tab-account" aria-selected="false">جزئیات حساب
                                کاربری</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">خروج از حساب کاربری</a>
                        </li>
                    </ul>
                </aside><!-- End .col-lg-3 -->



                <div class="col-md-8 col-lg-9">
                    <div class="tab-content">


                        <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                            aria-labelledby="tab-dashboard-link">
                            <p>سلام <span class="font-weight-normal text-dark">کاربر</span>
                                <br>
                                شما در اینجا میتوانید <a href="#tab-orders"
                                    class="tab-trigger-link link-underline">سفارشات خود را ببینید</a>، وضعیت
                                ارسال <a href="#tab-address" class="tab-trigger-link">سفارشات خود را مشاهده
                                    کنید وآدرس خود را تغییر دهید</a>، و همچنین <a href="#tab-account"
                                    class="tab-trigger-link">می توانید رمز عبور یا جزئیات حساب کاربری خود را
                                    ویرایش کنید </a>.</p>
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                            aria-labelledby="tab-orders-link">
                            <p>سفارش جدیدی وجود ندارد</p>
                            <a href="category.html" class="btn btn-outline-primary-2"><span>رفتن به
                                    فروشگاه</span><i class="icon-long-arrow-left"></i></a>
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-address" role="tabpanel"
                            aria-labelledby="tab-address-link">
                            <p>آدرسی که اینجا ثبت می کنید به صورت پیش فرض برای ارسال محصولات به شما استفاده
                                می شود.</p>
                            

                            {% for address in request.user.addresses.all %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">آدرس شما</h3><!-- End .card-title -->

                                                <p>{{address.user.full_name}}<br>
                                                    {{address.phone_number}}<br>
                                                    {{address.city}}<br>
                                                    {{address.postal_code}}<br>
                                                    {{address.text}}<br>
                                                    <a href="#">ویرایش <i class="icon-edit"></i></a></p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-12 -->
                                </div><!-- End .row -->
                            {% endfor %}
                        </div><!-- .End .tab-pane -->

                        <div class="tab-pane fade" id="tab-account" role="tabpanel"
                            aria-labelledby="tab-account-link">
                            <form action="#">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>نام *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>نام خانوادگی *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>نام نمایش *</label>
                                <input type="text" class="form-control" required>
                                <small class="form-text">این نام در قسمت بازدیدها، نظرات و حساب کاربری شما
                                    نمایش داده می شود.</small>

                                <label>ایمیل *</label>
                                <input type="email" class="form-control" required>

                                <label>پسورد فعلی</label>
                                <input type="password" class="form-control">

                                <label>پسورد جدید</label>
                                <input type="password" class="form-control">

                                <label>تکرار پسورد جدید</label>
                                <input type="password" class="form-control mb-2">

                                <button type="submit" class="btn btn-outline-primary-2 float-right">
                                    <span>ذخیره تغییرات</span>
                                    <i class="icon-long-arrow-left"></i>
                                </button>
                            </form>
                        </div><!-- .End .tab-pane -->



                    </div>
                </div><!-- End .col-lg-9 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .dashboard -->
</div><!-- End .page-content -->