{% load static %}


<div class="tab-pane fade" id="tab-orders" role="tabpanel"
                            aria-labelledby="tab-orders-link">
                            {% if request.user.orders.all.count == 0 %}
                            <p>سفارش جدیدی وجود ندارد</p>
                            {% else %}
                            <p>سفارشات :</p>


                            {% for order in request.user.orders.all %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">سفارش {{order.shamsi_date}}</h3><!-- End .card-title -->

                                                <p>{{order.user.full_name}}<br>
                                                    {{order.get_total_price}} تومان<br>
                                                    {{order.discount_string}}<br>
                                                    

                                                    {% if order.receipt_bool and order.processed %}
                                                    پرداخت توسط ادمین تایید شد<br>
                                                    {% else %}
                                                        {% if not order.processed %}
                                                        در انتظار تایید ادمین<br>
                                                        {% endif %}
                                                    {% endif %}
                                                    
                                                    {% if order.paid or order.receipt_bool %}
                                                    <a href="{% url 'orders:detail' order.id %}">پیگیری سفارش <i class="icon-cog"></i></a>
                                                    {% else %}
                                                    {% comment %} <a href="{% url 'cart:checkout' order.id %}">پرداخت <i class="icon-edit"></i></a> {% endcomment %}
                                                    {% endif %}
                                                    </p>
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-12 -->
                                </div><!-- End .row -->
                            {% endfor %}


                            {% endif %}
                            
                        </div><!-- .End .tab-pane -->