
{% load static %}


<main class="main">
    <div class="page-header text-center" style="background-image: url({% static 'cart/images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">سبد خرید <span>گیزمو شاپ</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'facades:home' %}">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    