{% load static %}


<div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="page404-bg text-center">
                            <div class="page404-text">
                                <div class="empty-image"><img src="{% static 'facades/images/empty.png' %}" alt="empty-cart">
                                </div>
                                <div class="empty-text display-3">سبد خرید شما خالی است!</div>

                                <a href="{% url 'facades:home' %}" class="btn btn-outline-primary-2 btn-order mt-3"><span>رفتن به
                                        فروشگاه و شروع خرید</span><i class="icon-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->