{% extends 'facades/base.html' %}
{% load static %}

{% block css %}
{% include 'facades/parts/css.html' %}
{% endblock %}



{% block main %}

        <main class="main">
            
            {% include 'facades/aboutUsParts/banner.html' %}

            <div class="page-content pb-3">
                
                {% include 'facades/aboutUsParts/mainText.html' %}
                
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% include 'facades/aboutUsParts/numberBanner.html' %}

{% endblock %}
