{% extends 'facades/base.html' %}
{% load static %}

{% block css %}
{% include 'facades/parts/css.html' %}
{% endblock %}



{% block main %}

        {% include 'facades/home_parts/banners.html' %}

        <div class="mb-6"></div><!-- End .mb-6 -->

        {% include 'facades/home_parts/discountStuff.html' %}

        

        {% include 'facades/home_parts/category.html' %}

        {% include 'facades/home_parts/newStuff.html' %}

        {% comment %} {% include 'facades/home_parts/elements-product-category.html' %} {% endcomment %}

        

{% endblock %}
