{% extends 'facades/base.html' %}
{% load static %}

{% block css %}
{% include 'facades/parts/css.html' %}
{% endblock %}



{% block main %}

        {% include 'facades/home_parts/banners.html' %}

        <div class="mb-6"></div><!-- End .mb-6 -->

        {% include 'facades/home_parts/discountStuff.html' %}

        {% include 'facades/home_parts/2col.html' %}
        
        {% include 'facades/home_parts/newStuff.html' %}

        

        {% include 'facades/home_parts/category.html' %}

        {% if request.user.is_authenticated %}
                {% include 'facades/home_parts/watched_products.html' %}
        {% endif %}

        {% include 'facades/home_parts/Slogan.html' %}

        {% include 'facades/home_parts/blog_post.html' %}

        {% include 'facades/parts/cta.html' %}

        {% comment %} {% include 'facades/home_parts/elements-product-category.html' %} {% endcomment %}

        

{% endblock %}
