{% load static %}



<div class="container">
                    <h2 class="title text-center mb-3">2 ستونه</h2><!-- End .title mb-2 -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="banner">
                                <a href="#">
                                    <img src="{% static 'facades/images/banners/3cols/banner-4.jpg' %}" alt="بنر">
                                </a>

                                <div class="banner-content text-right">
                                    <h4 class="banner-subtitle">لورم ایپسوم</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title">لورم ایپسوم متن ساختگی <br>با تولید سادگی</h3>
                                    <!-- End .banner-title -->
                                    <a href="#" class="banner-link">اینجا کلیک کنید</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="banner">
                                <a href="#">
                                    <img src="{% static 'facades/images/banners/3cols/banner-4.jpg' %}" alt="بنر">
                                </a>

                                <div class="banner-content text-right">
                                    <h4 class="banner-subtitle">لورم ایپسوم</h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title">لورم ایپسوم متن ساختگی <br>با تولید سادگی</h3>
                                    <!-- End .banner-title -->
                                    <a href="#" class="banner-link">اینجا کلیک کنید</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->

                    <hr class="mb-4">
                </div><!-- End .container -->