{% load static %}



<div class="container">
                    {% comment %} <h2 class="title text-center mb-3">2 ستونه</h2><!-- End .title mb-2 --> {% endcomment %}

                    <div class="row">
                    
                        {% for banner in banners.c2 %}
                        <div class="col-md-6">
                            <div class="banner">
                                <a href="{{banner.get_absolute_url}}" style="overflow-y : hidden">
                                    <img class="avazi2" src="{{banner.image.url}}" alt="بنر" >
                                </a>

                                <div class="banner-content text-right">
                                    <h3 class="intro-title" ><a href="{{banner.get_absolute_url}}" style="color:#fff">{{banner.bigTitle}}</a></h3>
                                    <!-- End .banner-title -->
                                    <h4 class="banner-title"><a href="{{banner.get_absolute_url}}">{{banner.smallTitle}}</a>
                                    </h4><!-- End .banner-subtitle -->
                                    
                                    <a href="{{banner.get_absolute_url}}" class="btn btn-outline-white banner-link">خرید<i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 -->
                        {% endfor %}
                        
                    </div><!-- End .row -->

                    <hr class="mb-4">
                </div><!-- End .container -->