{% load static %}


<div class="intro-section bg-lighter pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                    <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                        data-toggle="owl" data-owl-options='{
                            "nav": false,
                            "rtl": true,
                "responsive": {
                                "768": {
                                    "nav": true
                                }
                            }
                        }'>
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)"
                                        srcset="assets/images/slider/slide-1-480w.jpg">
                                    <img src="{% static 'facades/images/slider/slide-1.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">مجموعه پر فروش</h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">مبلمان<br>اتاق نشیمن</h1>
                                <!-- End .intro-title -->

                                <a href="category.html" class="btn btn-outline-white">
                                    <i class="icon-long-arrow-left"></i>
                                    <span>خرید</span>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)"
                                        srcset="assets/images/slider/slide-2-480w.jpg">
                                    <img src="{% static 'facades/images/slider/slide-2.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">اخبار و اطلاعیه</h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">کالاهای جدید</h1><!-- End .intro-title -->

                                <a href="category.html" class="btn btn-outline-white">
                                    <i class="icon-long-arrow-left"></i>
                                    <span>خرید</span>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->

                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)"
                                        srcset="assets/images/slider/slide-3-480w.jpg">
                                    <img src="{% static 'facades/images/slider/slide-3.jpg' %}" alt="Image Desc">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">مبل بیرون از منزل</h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">مبلمان <br>بیرون از منزل</h1>
                                <!-- End .intro-title -->

                                <a href="category.html" class="btn btn-outline-white">
                                    <i class="icon-long-arrow-left"></i>
                                    <span>خرید</span>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                    </div><!-- End .intro-slider owl-carousel owl-simple -->

                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="intro-banners">
                    <div class="row row-sm">
                        <div class="col-md-6 col-lg-12">
                            <div class="banner banner-display">
                                <a href="#">
                                    <img src="{% static 'facades/images/banners/home/intro/banner-1.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-darkwhite"><a href="#">مبل راحتی</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">صندلی و مبل راحتی <br>تا
                                            40% تخفیف</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">خرید<i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 col-lg-12 -->

                        <div class="col-md-6 col-lg-12">
                            <div class="banner banner-display mb-0">
                                <a href="#">
                                    <img src="{% static 'facades/images/banners/home/intro/banner-2.jpg' %}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-darkwhite"><a href="#">جدید در</a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">مجمعه بهترین
                                            <br>روشنایی ها</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white banner-link">خرید<i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 col-lg-12 -->
                    </div><!-- End .row row-sm -->
                </div><!-- End .intro-banners -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->



    </div><!-- End .container -->
</div><!-- End .bg-lighter -->
