{% load static %}


<div class="intro-section bg-lighter pt-5 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                    <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                        data-toggle="owl" data-owl-options='{
                            "nav": false,
                            "rtl": true,
                "responsive": {
                                "768": {
                                    "nav": true
                                }
                            }
                        }'>
                        {% for cover in banners.b1 %}
                        <div class="intro-slide">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 480px)"
                                        srcset="{{cover.image.url}}">
                                    <img class="avazi" src="{{cover.image.url}}" alt="main Cover">
                                </picture>
                            </figure><!-- End .slide-image -->

                            <div class="intro-content">
                                <h3 class="intro-subtitle">{{cover.smallTitle}}</h3>
                                <!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">{{cover.bigTitle}}</h1>
                                <!-- End .intro-title -->

                                <a href="{{cover.get_absolute_url}}" class="btn btn-outline-white">
                                    <i class="icon-long-arrow-left"></i>
                                    <span>خرید</span>
                                </a>
                            </div><!-- End .intro-content -->
                        </div><!-- End .intro-slide -->
                        {% endfor %}


                    </div><!-- End .intro-slider owl-carousel owl-simple -->



                    <span class="slider-loader"></span><!-- End .slider-loader -->
                </div><!-- End .intro-slider-container -->
            </div><!-- End .col-lg-8 -->
            <div class="col-lg-4">
                <div class="intro-banners">
                    <div class="row row-sm">
                        {% for f1 in banners.f1 %}
                        <div class="col-md-6 col-lg-12">
                            <div class="banner banner-display">
                                <a href="{{f1.get_absolute_url}}">
                                    <img src="{{f1.image.url}}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-darkwhite"><a href="{{f1.get_absolute_url}}">{{f1.smallTitle}}</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="{{f1.get_absolute_url}}">{{f1.bigTitle}}</a></h3><!-- End .banner-title -->
                                    <a href="{{f1.get_absolute_url}}" class="btn btn-outline-white banner-link">خرید<i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 col-lg-12 -->
                        {% endfor %}

                        {% for f1 in banners.f2 %}
                        <div class="col-md-6 col-lg-12">
                            <div class="banner banner-display">
                                <a href="{{f1.get_absolute_url}}">
                                    <img src="{{f1.image.url}}" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-darkwhite"><a href="{{f1.get_absolute_url}}">{{f1.smallTitle}}</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="{{f1.get_absolute_url}}">{{f1.bigTitle}}</a></h3><!-- End .banner-title -->
                                    <a href="{{f1.get_absolute_url}}" class="btn btn-outline-white banner-link">خرید<i
                                            class="icon-long-arrow-left"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-md-6 col-lg-12 -->
                        {% endfor %}

                    </div><!-- End .row row-sm -->
                </div><!-- End .intro-banners -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->



    </div><!-- End .container -->
</div><!-- End .bg-lighter -->
