{% load static %}


<div class="mb-6"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="cta cta-border mb-5" style="background-image: url({% static 'facades/images/banners/banner/bg-1.jpg' %});">
                    <img src="{% static 'facades/images/banners/banner/camera.png' %}" alt="camera" class="cta-img">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="cta-content">
                                <div class="cta-text text-left text-white">
                                    <p>پیشنهاد ویژه امروز <br><strong> مدیا پلیر جدید</strong></p>
                                </div><!-- End .cta-text -->
                                <a href="#" class="btn btn-primary btn-round"><span>خرید - 429,000 تومان</span><i
                                        class="icon-long-arrow-left"></i></a>
                            </div><!-- End .cta-content -->
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </div><!-- End .cta -->
            </div><!-- End .container -->