{% load static %}

<div class="blog-posts pt-7 pb-7" style="background-color: #fafafa;">
                <div class="container">

                    <h2 class="title-lg text-center mb-3 mb-md-4">از وبلاگ ما</h2><!-- End .title-lg text-center -->
                    <!-- End .title text-center -->
                    <div class="row justify-content-center">

                        {% for post in posts %}
                        <div class="col-sm-6 col-md-4">
                            <article class="entry entry-mask">
                                <figure class="entry-media">
                                    <a href="single.html">
                                        <img src="{{post.Cover.url}}" alt="توضیحات عکس">
                                    </a>
                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a href="{{post.get_absolute_url}}">{{post.shamsi_date}}</a>
                                        <span class="meta-separator">|</span>
                                        <a href="{{post.get_absolute_url}}">2{{post.get_comments.count}} دیدگاه</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        <a href="#">سبک زندگی</a>،
                                        <a href="#">فروشگاه</a>
                                    </div><!-- End .entry-cats -->
                                </div><!-- End .entry-body -->
                            </article><!-- End .entry -->
                        </div><!-- End .col-md-4 -->
                        {% endfor %}
                        
                    </div><!-- End .row -->
                </div><!-- End .container -->



                <div class="more-container text-center mb-0 mt-3">
                    <a href="{% url 'blog:home_blog' %}" class="btn btn-outline-darker btn-more"><span>مشاهده اخبار بیشتر</span><i
                            class="icon-long-arrow-left"></i></a>
                </div><!-- End .more-container -->
            </div>