{% load static %}

<div class="blog-articles pt-7 pb-7" style="background-color: #fafafa;">
                <div class="container">

                    <h2 class="title-lg text-center mb-3 mb-md-4">از وبلاگ ما</h2><!-- End .title-lg text-center -->
                    <!-- End .title text-center -->
                    <div class="row justify-content-center">

                        {% for article in articles %}
                        <div class="col-sm-6 col-md-4">
                            <article class="entry entry-mask">
                                <figure class="entry-media">
                                    <a href="{{article.get_absolute_url}}">
                                        <img src="{{article.Cover.url}}" alt="توضیحات عکس">
                                    </a>
                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <a href="{{article.get_absolute_url}}">{{article.shamsi_date}}</a>
                                        <span class="meta-separator">|</span>
                                        <a href="{{article.get_absolute_url}}">2{{article.get_comments.count}} دیدگاه</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="{{article.get_absolute_url}}">{{article.title}}</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        {% for cat in article.Category.all %}
                                            <a href="{{cat.get_absolute_url}}">{{cat}}</a>
                                        {% endfor %}
                                    </div><!-- End .entry-cats -->
                                </div><!-- End .entry-body -->
                            </article><!-- End .entry -->
                        </div><!-- End .col-md-4 -->
                        {% endfor %}
                        
                    </div><!-- End .row -->
                </div><!-- End .container -->



                <div class="more-container text-center mb-0 mt-3">
                    <a href="{% url 'blog:home_blog' 1 %}" class="btn btn-outline-darker btn-more"><span>مشاهده اخبار بیشتر</span><i
                            class="icon-long-arrow-left"></i></a>
                </div><!-- End .more-container -->
            </div>