{% load static %}


<div class="container categories pt-6">
    <h2 class="title-lg text-center mb-4">دسته بندی ها</h2><!-- End .title-lg text-center -->

    <div class="row">
        {% for t1 in banners.t1 %}
        <div class="col-6 col-lg-4">
            <div class="banner banner-display banner-link-anim">
                <a href="{{t1.get_absolute_url}}">
                    <img src="{{t1.image.url}}" alt="banner">
                </a>

                <div class="banner-content banner-content-center">
                    <h3 class="banner-title text-white text-center"><a href="{{t1.get_absolute_url}}">{{t1.bigTitle}}</a></h3>
                    <!-- End .banner-title -->
                    <a href="{{t1.get_absolute_url}}" class="btn btn-outline-white banner-link">{{t1.button}}<i
                            class="icon-long-arrow-left"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 col-lg-3 -->
        {% endfor %}

        {% for t2 in banners.t2 %}
        <div class="col-6 col-lg-4 order-lg-last">
            <div class="banner banner-display banner-link-anim">
                <a href="{{t2.get_absolute_url}}">
                    <img src="{{t2.image.url}}" alt="banner">
                </a>

                <div class="banner-content banner-content-center">
                    <h3 class="banner-title text-white text-center"><a href="{{t2.get_absolute_url}}">{{t2.bigTitle}}</a></h3>
                    <!-- End .banner-title -->
                    <a href="{{t2.get_absolute_url}}" class="btn btn-outline-white banner-link">{{t2.button}}<i
                            class="icon-long-arrow-left"></i></a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-sm-6 col-lg-3 -->
        {% endfor %}



        <div class="col-sm-12 col-lg-4 banners-sm">
            <div class="row">


                

                {% for t3 in banners.t3 %}
                    <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                        <a href="{{t3.get_absolute_url}}">
                            <img src="{{t3.image.url}}" alt="banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white text-center"><a href="{{t3.get_absolute_url}}">{{t3.bigTitle}}</a></h3>
                            <!-- End .banner-title -->
                            <a href="{{t3.get_absolute_url}}" class="btn btn-outline-white banner-link">{{t3.button}}<i
                                    class="icon-long-arrow-left"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                {% endfor %}



                



            </div>
        </div><!-- End .col-sm-6 col-lg-3 -->




    </div><!-- End .row -->
</div><!-- End .container --> 

