{% load static %}


<div class="container-fluid">
    <h2 class="title text-center mb-3">3 ستونه تمام عرض</h2><!-- End .title mb-2 -->

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="#">
                    <img src="{% static 'facades/images/fullwidth/banner-1.jpg' %}" alt="بنر">
                </a>

                <div class="banner-content text-right">
                    <h3 class="banner-title">زنانه</h3><!-- End .banner-title -->
                    <h4 class="banner-subtitle">18 محصول</h4><!-- End .banner-subtitle -->
                    <a href="#" class="banner-link">خرید</a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-md-6 -->

        <div class="col-md-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="#">
                    <img src="{% static 'facades/images/fullwidth/banner-2.jpg' %}" alt="بنر">
                </a>

                <div class="banner-content text-right">
                    <h3 class="banner-title">مردانه</h3><!-- End .banner-title -->
                    <h4 class="banner-subtitle">12 محصول</h4><!-- End .banner-subtitle -->
                    <a href="#" class="banner-link">خرید</a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-md-6 -->

        <div class="col-md-6 col-lg-4">
            <div class="banner banner-cat">
                <a href="#">
                    <img src="{% static 'facades/images/fullwidth/banner-3.jpg' %}" alt="بنر">
                </a>

                <div class="banner-content text-right">
                    <h3 class="banner-title">لوازم جانبی</h3><!-- End .banner-title -->
                    <h4 class="banner-subtitle">12 محصول</h4><!-- End .banner-subtitle -->
                    <a href="#" class="banner-link">خرید</a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-md-6 -->
    </div><!-- End .row -->
</div><!-- End .container-fluid -->