{% load static %}


<div class="container">
    <div class="heading heading-center mb-6">
        <h2 class="title text-center">محصولات جدید</h2><!-- End .title -->

        <!-- <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab"
                    role="tab" aria-controls="top-all-tab" aria-selected="true">همه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="top-fur-link" data-toggle="tab" href="#top-fur-tab" role="tab"
                    aria-controls="top-fur-tab" aria-selected="false">مبل</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="top-decor-link" data-toggle="tab" href="#top-decor-tab" role="tab"
                    aria-controls="top-decor-tab" aria-selected="false">دکور</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="top-light-link" data-toggle="tab" href="#top-light-tab" role="tab"
                    aria-controls="top-light-tab" aria-selected="false">روشنایی</a>
            </li>
        </ul> -->
    </div><!-- End .heading -->

    <div class="tab-content">
        <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel"
            aria-labelledby="top-all-link">
            <div class="products">
                <div class="row justify-content-center">

                    {% for product in products %}



                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="product product-11 mt-v3 text-center">
                            <figure class="product-media">
                                <a href="{{product.get_absolute_url}}">
                                    <img src="{{product.image.url}}"
                                        alt="تصویر محصول" class="product-image">
                                    <img src="{{product.image2.url}}"
                                        alt="تصویر محصول" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="{% url 'accounts:AddToWish' product.id %}" class="btn-product-icon btn-wishlist "><span>افزودن به
                                            لیست علاقه مندی</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title text-center"><a href="product.html">{{product.name}}</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                     {{product.price}} تومان
                                </div><!-- End .product-price -->

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #333333;"><span
                                            class="sr-only">نام رنگ</span></a>
                                    <a href="#" style="background: #e8e238;"><span class="sr-only">نام
                                            رنگ</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product -->
                    </div>



{% endfor %}


                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- .End .tab-pane -->


    </div><!-- End .tab-content -->
    <div class="more-container text-center">
        <a href="#" class="btn btn-outline-darker btn-more"><span>محصولات بیشتر</span><i
                class="icon-long-arrow-down"></i></a>
    </div><!-- End .more-container -->
</div><!-- End .container -->
