{% load static %}


<div class="container">
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-rocket"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">خرید مستقیم از دبی</h3><!-- End .icon-box-title -->
                    <p class="text-center">خرید بدون واسطه و مستقیم از دبی</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-rotate-left"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">ضمانت اصالت کالا</h3><!-- End .icon-box-title -->
                    <p class="text-center">ضمانت 100% اصالت محصولات</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-card text-center">
                <span class="icon-box-icon">
                    <i class="icon-life-ring"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">کیفیت پشتیبانی</h3><!-- End .icon-box-title -->
                    <p class="text-center">پشتیبانی آنلاین 24 ساعته و 7 روز هفته</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->
    </div><!-- End .row -->

    <div class="mb-2"></div><!-- End .mb-2 -->
</div><!-- End .container -->
