{% extends 'facades/base.html' %}
{% load static %}

{% block css %}{% include 'facades/parts/css.html' %}{% endblock %}


{% block main %}

  
<main class="main">

{% include 'cart/parts/banner.html' %}



<div class="page-content">
                <div class="checkout">
                    <div class="container">
                        
                        
                            <div class="row">
                                <div class="col-lg-9">
                                    
                                    
                                    <h2 class="checkout-title">آپلود رسید پرداخت:</h2><!-- End .checkout-title -->
                                    <p>شماره کارت : {{hesab.number}}<br> بانک {{hesab.bank_name}}<br> به نام {{hesab.owner}}</p>
                                    <br>
                                    <form action="{% url 'orders:order_create_receipt' caddress.id %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

                                        {{receiptForm}}
                                         <br><br>
                                        <p>در طی ۱۲ ساعت آینده رسید پرداخت شما پردازش خواهد شد و توسط ادمین برای سفارش برای ارسال آماده خواهد شد</p>
                                        <br>
                                        <p>در صورت بروز مشکل در فرایند پرداخت، با پشتیبانی از طریق <a href="https://t.me/GizmoshopAdmin">تلگرام </a> یا شماره ۰۹۱۹۸۰۰۰۱۳۶ در تماس باشید.</p>
                                        <br>
                                        <button type="submit" class="btn btn-outline-primary-2 float-right">
                                            <span>آپلود</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </form>
                                    


                                </div><!-- End .col-lg-9 -->
                                
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">سفارش شما</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>محصول</th>
                                                    <th class="text-left">جمع</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for item in cart %}
                                                <tr>
                                                    <td><a href="{{item.product.get_absolute_url}}">{{item.product}}</a></td>
                                                    <td class="text-left">{{item.show_total_price}} تومان</td>
                                                </tr>
                                                {% endfor %}
                                                <tr class="summary-subtotal">
                                                    <td>جمع سبد خرید</td>
                                                    <td class="text-left">{{cart.show_total}} تومان</td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>شیوه ارسال : </td>
                                                    <td class="text-left">تیپاکس(پس کرایه)</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>مبلغ قابل پرداخت :</td>
                                                    <td class="text-left">{{cart.get_total_price}} تومان</td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        
                                            
                                        </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->




                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->


        </main><!-- End .main -->


{% endblock %}
