{% extends 'facades/base.html' %}
{% load static %}

{% block css %}
{% include 'facades/parts/css.html' %}
{% endblock %}



{% block main %}


    
        <main class="main">

            <div class="page-header text-center" style="background-image: url({% static 'facades/images/tracking.png' %})">
                <div class="container">
                    <h1 class="page-title" style="color:#ffffff">گزارش سفارش</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'facades:home' %}">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">پیگیری سفارش</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->


            <div class="page-content">
                <div class="container">
                    <div class="trackorder-content col-md-12">
                        <div class="trackorder-inner">
                            <div class="trackorder-top">
                                <div class="trackorder-detail">
                                    <div>بازه زمانی تحویل سفارش : 1401/09/20 - 12:00 تا 15:00</div>
                                    <div>نام تحویل گیرنده سفارش : <span>{{request.user.full_name}}</span></div>
                                    </br>
                                    <div><a href="{% url 'orders:factor' order.id %}"><span>دریافت فاکتور</span></a></div>
                                </div>
                                <h2 class="trackorder-id">سفارش {{order.get_order_number}}#</h2>
                            </div>
                            <div class="trackorder-bottom">
                                <div class="trackorder-progress">
                                    <ul class="trackorder-progressbar">

                                        <li class="trackorder-step {% if order.processed %} active {% endif %}"><span class="track-icon"> <img
                                                    src="{% static 'facades/images/track%20order/processed.png' %}"
                                                    alt="track_order"></span><span
                                                class="progressbar-track"></span><span class="track-title">{% if order.processed %}سفارش
                                                <br>پردازش شد
                                                {% endif %}</span></li>

                                        <li class="trackorder-step {% if order.packing %} active {% endif %}"><span class="track-icon"> <img
                                                    src="{% static 'facades/images/track%20order/packing.png' %}"
                                                    alt="track_order"></span><span
                                                class="progressbar-track"></span><span class="track-title">{% if order.packing %}سفارش
                                                <br>بسته بندی شد{% endif %}
                                                </span></li>

                                        <li class="trackorder-step {% if order.shipped %} active {% endif %}"><span class="track-icon"> <img
                                                    src="{% static 'facades/images/track%20order/shipped.png' %}"
                                                    alt="track_order"></span><span
                                                class="progressbar-track"></span><span class="track-title">{% if order.shipped %}سفارش
                                                <br>ارسال شد{% endif %}
                                                </span></li>

                                        <li class="trackorder-step {% if order.deliveried %} active {% endif %}"><span class="track-icon"> <img
                                                    src="{% static 'facades/images/track%20order/deliveried.png' %}"
                                                    alt="track_order"></span><span
                                                class="progressbar-track"></span><span class="track-title">{% if order.deliveried %}سفارش
                                                <br> تحویل داده شد {% endif %}</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .page-content -->

            



            

            
        </main><!-- End .main -->

        

{% endblock %}
