{% load static %}



<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'facades:home' %}">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
<div class="container">
    <div class="page-header page-header-big text-center"
        style="background-image: url({% static 'facades/images/contactBg.jpg' %})">
        <h1 class="page-title text-white">تماس با ما<span class="text-white">ارتباط خود را با ما حفظ
                کنید</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->