{% load static %}


<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
                <h2 class="title mb-1">اطلاعات تماس</h2><!-- End .title mb-2 -->
                <p class="mb-3">با استفاده از هرکدوم از راه های زیر می‌تونی با {{site.fname}} در ارتباط باشی.</p>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="contact-info">
                            <h3>دفتر</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-map-marker"></i>
                                    {{site.address}}
                                </li>
                                <li>
                                    <i class="icon-phone"></i>
                                    <a href="tel:#">{{site.phone}}</a>
                                </li>
                                <li>
                                    <i class="icon-envelope"></i>
                                    <a href="mailto:#">{{site.email}}</a>
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-7 -->

                    <div class="col-sm-5">
                        <div class="contact-info">
                            <h3>ساعت کار دفتر</h3>

                            <ul class="contact-list">
                                <li>
                                    <i class="icon-clock-o"></i>
                                    <span class="text-dark">شنبه تا چهارشنبه</span> <br>10 صبح تا 7 عصر
                                </li>
                                <li>
                                    <i class="icon-calendar"></i>
                                    <span class="text-dark">پنج شنبه</span> <br>10 صبح تا 5 عصر
                                </li>
                            </ul><!-- End .contact-list -->
                        </div><!-- End .contact-info -->
                    </div><!-- End .col-sm-5 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-6 -->

            {% if CreateSurvey%}
            <div class="col-lg-6">
                <h2 class="title mb-1">سوالت رو دریافت کردیم.</h2><!-- End .title mb-2 -->
                <p class="mb-2">تا فردا از طریق ایمیل پاسخت رو میدیم :)</p>
            </div><!-- End .col-lg-6 -->

            {% else %}
            <div class="col-lg-6">
                <h2 class="title mb-1">سوالی دارید؟</h2><!-- End .title mb-2 -->
                <p class="mb-2">با استفاده از فرم زیر می توانید با ما ارتباط برقرار کنید</p>

                <form action="{% url 'facades:CreateSurvey' %}" method="post" class="contact-form mb-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="name" class="sr-only">نام</label>
                            <input type="text" class="form-control" id="id_name" name="name"
                                placeholder="نام خود را وارد کنید *" required>
                        </div><!-- End .col-sm-6 -->
                
                        <div class="col-sm-6">
                            <label for="email" class="sr-only">ایمیل</label>
                            <input type="email" class="form-control" id="id_email" name="email"
                                placeholder="ایمیل خود را وارد کنید *" required>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
                
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="phone_number" class="sr-only">شماره موبایل</label>
                            <input type="tel" class="form-control" id="id_phone_number" name="phone_number"
                                placeholder="شماره موبایل خود را وارد کنید *" required>
                        </div><!-- End .col-sm-6 -->
                
                        <div class="col-sm-6">
                            <label for="title" class="sr-only">موضوع</label>
                            <input type="text" class="form-control" id="id_title" name="title"
                                placeholder="موضوع پیام شما *" required>
                        </div><!-- End .col-sm-6 -->
                    </div><!-- End .row -->
                
                    <label for="text" class="sr-only">پیام</label>
                    <textarea class="form-control" cols="30" rows="4" id="id_text" name="text" required
                        placeholder="متن پیام شما *"></textarea>
                
                    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm float-right">
                        <span>تایید و ارسال</span>
                        <i class="icon-long-arrow-left"></i>
                    </button>
                </form><!-- End .contact-form -->
            </div><!-- End .col-lg-6 -->
            {% endif %}

            
        </div><!-- End .row -->

        <hr class="mt-4 mb-5">

        <div class="stores mb-4 mb-lg-5">
            <h2 class="title text-center mb-3">فروشگاه های ما</h2><!-- End .title text-center mb-2 -->

            <div class="row">
            {% for shop in shops %}
                <div class="col-lg-6">
                    <div class="store">
                        <div class="row">
                            <div class="col-sm-5 col-xl-6">
                                <figure class="store-media mb-2 mb-lg-0">
                                    <img src="{{shop.image.url}}" alt="shop image">
                                </figure><!-- End .store-media -->
                            </div><!-- End .col-xl-6 -->
                            <div class="col-sm-7 col-xl-6">
                                <div class="store-content">
                                    <h3 class="store-title">{{shop.name}}</h3><!-- End .store-title -->
                                    <address>{{shop.address}}</address>
                                    <div><a href="tel:#">0{{shop.phone}}</a></div>

                                    <h4 class="store-subtitle">ساعت کاری فروشگاه :</h4>
                                    <!-- End .store-subtitle -->
                                    <div>شنبه-چهارشنبه 11صبح تا 7 عصر</div>
                                    <div>پنج شنبه 11 صبح تا 6 عصر</div>

                                    
                                </div><!-- End .store-content -->
                            </div><!-- End .col-xl-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .store -->
                </div><!-- End .col-lg-6 -->

            {% endfor %}

                

            </div><!-- End .row -->
        </div><!-- End .stores -->
    </div><!-- End .container -->


    <div class="col-12 d-flex">
                    <div class="bg-white w-100">
                        <iframe
                            {% comment %} src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0762034011345!2d51.33938432078328!3d35.69974233666176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQxJzU5LjEiTiA1McKwMjAnMTMuOSJF!5e0!3m2!1sfa!2s!4v1585894944267!5m2!1sfa!2s" {% endcomment %}
                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1620.9209875116373!2d51.35898629194877!3d35.656264828396566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfa!2s!4v1692505340098!5m2!1sfa!2s"
                            width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>


</div><!-- End .page-content -->