{% extends 'facades/base.html' %}
{% load static %}

{% block css %}{% include 'facades/parts/css.html' %}{% endblock %}



{% block main %}
<main class="main">
            <div class="page-header text-center" style="background-image: url({% static 'facades/images/banners/FAQBanner2.jpg' %})">
                <div class="container">
                    <h1 class="page-title" style="color:#fff">اخبار و پست ها</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'facades:home' %}">خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">پست ها</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="entry-container max-col-2">


                                {% for article in articles %}
                                <div class="entry-item col-sm-6">
                                    <article class="entry entry-grid text-center">
                                        <figure class="entry-media">
                                            <a href="{{article.get_absolute_url}}">
                                                <img src="{{article.Cover.url}}" alt="توضیحات عکس">
                                            </a>
                                        </figure><!-- End .entry-media -->

                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    نویسنده : <a href="{{article.Author.blog_articles}}">{{article.Author.full_name}}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a>{{article.shamsi_date}}</a>
                                                <span class="meta-separator">|</span>
                                                <a>{{article.get_comments.count}} دیدگاه</a>
                                            </div><!-- End .entry-meta -->

                                            <h2 class="entry-title text-center">
                                                <a href="{{article.get_absolute_url}}">{{article.title}}</a>
                                            </h2><!-- End .entry-title -->

                                            <div class="entry-cats text-center">
                                                {% for cat in article.Category.all %}
                                                    <a href="{{cat.get_absolute_url}}">{{cat}}</a>
                                                {% endfor %}
                                            </div><!-- End .entry-cats -->
                                        </div><!-- End .entry-body -->
                                    </article><!-- End .entry -->
                                </div><!-- End .entry-item -->
                            {% endfor %}
                                

                                
                            </div><!-- End .entry-container -->




                            {% if articles.has_other_pages %}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if articles.has_previous %}

                                            {% if author %}
                                            <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name author.id articles.previous_page_number %}">{{articles.previous_page_number}}</a></li>
                                            {% elif category %}
                                            <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name category.slug articles.previous_page_number %}">{{articles.previous_page_number}}</a></li>
                                            {% elif query %}
                                            <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name articles.previous_page_number %}?query={{query}}">{{articles.previous_page_number}}</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name articles.previous_page_number %}{% if query %}?query={{query}}{% endif %}">{{articles.previous_page_number}}</a></li>
                                            {% endif %}

                                    {% endif %}
                                    <li class="page-item" aria-current="page"><a class="page-link" >{{articles.number}}</a></li>
                                    {% if articles.has_next %}
                                        {% if author %}
                                        <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name  author.id articles.next_page_number %}">{{articles.next_page_number}}</a></li>
                                        <li class="page-item">
                                            <a class="page-link page-link-next" href="{% url 'blog:'|add:request.resolver_match.url_name author.id articles.next_page_number %}" aria-label="Next">
                                                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                            </a>
                                        </li>
                                        {% elif category %}
                                        <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name  category.slug articles.next_page_number %}">{{articles.next_page_number}}</a></li>
                                        <li class="page-item">
                                            <a class="page-link page-link-next" href="{% url 'blog:'|add:request.resolver_match.url_name category.slug articles.next_page_number %}" aria-label="Next">
                                                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                            </a>
                                        </li>
                                        {% elif query %}
                                        <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name  articles.next_page_number %}?query={{query}}">{{articles.next_page_number}}</a></li>
                                        <li class="page-item">
                                            <a class="page-link page-link-next" href="{% url 'blog:'|add:request.resolver_match.url_name articles.next_page_number %}?query={{query}}" aria-label="Next">
                                                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                            </a>
                                        </li>
                                            
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="{% url 'blog:'|add:request.resolver_match.url_name  articles.next_page_number %}{% if query %}?query={{query}}{% endif %}">{{articles.next_page_number}}</a></li>
                                        <li class="page-item">
                                            <a class="page-link page-link-next" href="{% url 'blog:'|add:request.resolver_match.url_name  articles.next_page_number %}{% if query %}?query={{query}}{% endif %}" aria-label="Next">
                                                بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        
                                        
                                        
                                        
                                        {% endif %}
                                    <li class="page-item-total">از {{paginator.num_pages}}</li>
                                </ul>
                            </nav>
                            {% else %}
                            {% endif %}


                        </div><!-- End .col-lg-9 -->

                        <aside class="col-lg-3">
                            <div class="sidebar">


                                <div class="widget widget-search">
                                    <h3 class="widget-title">جستجو</h3><!-- End .widget-title -->

                                    <form action="{% url 'blog:article_search' 1 %}" method="GET">
                                        <label for="query" class="sr-only">جستجوی اخبار</label>
                                        <input type="search" class="form-control" name="query" id="query"
                                            placeholder="جستجوی خبر مورد نظر" required>
                                        <button type="submit" class="btn"><i class="icon-search"></i><span
                                                class="sr-only">جستجو</span></button>
                                    </form>
                                </div><!-- End .widget -->




                                <div class="widget widget-cats">
                                    <h3 class="widget-title">دسته بندی ها</h3><!-- End .widget-title -->

                                    <ul>
                                        {% for cat in categories %}
                                        <li><a href="{{cat.get_absolute_url}}">{{cat}}<span>{{cat.count_articles}}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- End .widget -->

                                <div class="widget">
                                    <h3 class="widget-title">پر بازدید ترین اخبار</h3><!-- End .widget-title -->

                                    <ul class="posts-list">
                                        {% for ps in views_article %}
                                        <li>
                                            <figure>
                                                <a href="{{ps.get_absolute_url}}">
                                                    <img src="{{ps.Cover.url}}" alt="article">
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{{ps.shamsi_date}}</span>
                                                <h4><a href="{{ps.get_absolute_url}}">{{ps.title}}</a></h4>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        
                                    </ul><!-- End .articles-list -->
                                </div><!-- End .widget -->

                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">{{publicitar.title}}</div>
                                    <!-- End .ad-title -->

                                    <div class="banner-sidebar banner-overlay">
                                        <a href="{{publicitar.get_absolute_url}}">
                                            <img src="{{publicitar.image.url}}" alt="بنر">
                                        </a>
                                    </div><!-- End .banner-ad -->
                                </div><!-- End .widget -->

                                {% comment %} <div class="widget">
                                    <h3 class="widget-title">برچسب ها</h3><!-- End .widget-title -->

                                    <div class="tagcloud">
                                        <a href="#">مد</a>
                                        <a href="#">استایل</a>
                                        <a href="#">زنانه</a>
                                        <a href="#">عکس</a>
                                        <a href="#">سفر</a>
                                        <a href="#">خرید</a>
                                        <a href="#">سرگرمی</a>
                                    </div><!-- End .tagcloud -->
                                </div><!-- End .widget --> {% endcomment %}

                                <div class="widget widget-text">
                                    <h3 class="widget-title">درباره بخش اخبار</h3><!-- End .widget-title -->

                                    <div class="widget-text-content">
                                        <p>قسمت اخبار در سایت فروشگاهی {{site.fname}} یک بخش است که به منظور اطلاع‌رسانی و ارتباط با مشتریان و علاقه‌مندان به محصولات و 
                                        خدمات آن سایت ایجاد شده است. در این قسمت، مطالب و اخبار مرتبط با دنیای فناوری، محصولات جدید، تکنولوژی‌ها،
                                         نکات و ترفندهای مربوط به استفاده از محصولات، مقالات تخصصی و مهم و دیگر موارد مرتبط قرار می‌گیرند.</p>
                                    </div><!-- End .widget-text-content -->
                                </div><!-- End .widget -->
                            </div><!-- End .sidebar -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}
