{% extends 'facades/base.html' %}
{% load static %}

{% block css %}{% include 'facades/parts/css.html' %}{% endblock %}



{% block main %}



<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "facades:home" %}">خانه</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog:home_blog' %}">اخبار</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <figure class="entry-media">
                    <img src="{{article.Cover.url}}" alt="توضیحات عکس">
                </figure><!-- End .entry-media -->
                <div class="container">
                    <article class="entry single-entry entry-fullwidth">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="entry-body">
                                    <div class="entry-meta">
                                        <span class="entry-author">
                                            نویسنده : <a href="{{article.Author.blog_articles}}">{{article.Author.full_name}}</a>
                                        </span>
                                        <span class="meta-separator">|</span>
                                        <p>{{article.shamsi_date}}</p>
                                        <span class="meta-separator">|</span>
                                        <a>{{article.get_comments.count}} دیدگاه</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title entry-title-big">
                                        {{article.title}}
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        {% for cat in article.Category.all %}
                                            <a href="{{cat.get_absolute_url}}">{{cat}}</a>
                                        {% endfor %}
                                    </div><!-- End .entry-cats -->

                                    <div class="entry-content editor-content">

                                        <p>{{article.text}}</p>

                                        {% comment %} <blockquote>
                                            <p>“ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                                                تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ”</p>
                                        </blockquote>

                                        <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>

                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                            سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                            ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
                                            نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>

                                        <div class="pb-1"></div><!-- End .pb-1 -->

                                        <img src="assets/images/blog/single/fullwidth/3.jpg" alt="image">

                                        <div class="pb-1"></div><!-- End .pb-1 --> {% endcomment %}

                                        
                                    </div><!-- End .entry-content -->

                                    <div class="entry-footer row no-gutters">
                                        <div class="col-12">
                                            {% comment %} <div class="entry-tags">
                                                <span>برچسب : </span> <a href="#">عکاسی</a> <a href="#">استایل</a>
                                            </div><!-- End .entry-tags --> {% endcomment %}
                                        </div><!-- End .col -->
                                    </div><!-- End .entry-footer row no-gutters -->
                                </div><!-- End .entry-body -->
                            </div><!-- End .col-lg-11 -->

                            <div class="col-lg-1 order-lg-first mb-2 mb-lg-0">
                                <div class="sticky-content">
                                    <div class="social-icons social-icons-colored social-icons-vertical">
                                       {% comment %} <span class="social-label">اشتراک گذاری</span>
                                        <a href="#" class="social-icon social-facebook" title="فیسبوک"
                                            target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="پینترست"
                                            target="_blank"><i class="icon-pinterest"></i></a>
                                        <a href="#" class="social-icon social-linkedin" title="لینکدین"
                                            target="_blank"><i class="icon-linkedin"></i></a> {% endcomment %}
                                    </div><!-- End .soial-icons -->
                                </div><!-- End .sticky-content -->
                            </div><!-- End .col-lg-1 -->
                        </div><!-- End .row -->

                        <div class="entry-author-details">
                            <figure class="author-media">
                                <a href="{{article.Author.blog_articles}}">
                                    <img src="{{article.Author.profile.image.url}}" alt="{{article.Author.full_name}} image">
                                </a>
                            </figure><!-- End .author-media -->

                            <div class="author-body">
                                <div class="author-header row no-gutters flex-column flex-md-row">
                                    <div class="col-12">
                                        <h4><a href="{{article.Author.blog_articles}}">{{article.Author.full_name}}</a></h4>
                                    </div><!-- End .col -->
                                    <div class="col-auto mt-1 mt-md-0">
                                        <a href="{{article.Author.blog_articles}}" class="author-link">مشاهده همه پست های این نویسنده <i
                                                class="icon-long-arrow-left"></i></a>
                                    </div><!-- End .col -->
                                </div><!-- End .row -->

                                <div class="author-content">
                                    <p>{{article.Author.profile.bio}}
                                    </p>
                                </div><!-- End .author-content -->
                            </div><!-- End .author-body -->
                        </div><!-- End .entry-author-details-->
                    </article><!-- End .entry -->

                    {% comment %} <nav class="pager-nav" aria-label="Page navigation">
                        <a class="pager-link pager-link-prev" href="#" aria-label="Previous" tabindex="-1">
                            پست قبلی
                            <span class="pager-link-title">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                        </a>

                        <a class="pager-link pager-link-next" href="#" aria-label="Next" tabindex="-1">
                            پست بعدی
                            <span class="pager-link-title">لورم ایپسوم متن ساختگی</span>
                        </a>
                    </nav><!-- End .pager-nav --> {% endcomment %}

                    <div class="related-articles">
                        <h3 class="title">پست های مرتبط</h3><!-- End .title -->

                        <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "rtl": true, 
                            "responsive": {
                                    "0": {
                                        "items":1
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    }
                                }
                            }'>


                            {% for item in article.get_similar_articles %}
                            <article class="entry entry-grid">
                                <figure class="entry-media">
                                    <a href="{{item.get_absolute_url}}">
                                        <img src="{{item.Cover.url}}" alt="توضیحات عکس">
                                    </a>
                                </figure><!-- End .entry-media -->

                                <div class="entry-body">
                                    <div class="entry-meta justify-content-start">
                                        <a>{{article.shamsi_date}}</a>
                                        <span class="meta-separator">|</span>
                                        <a>{{item.get_comments.count}} دیدگاه</a>
                                    </div><!-- End .entry-meta -->

                                    <h2 class="entry-title">
                                        <a href="{{item.get_absolute_url}}">{{item.title}}</a>
                                    </h2><!-- End .entry-title -->

                                    <div class="entry-cats">
                                        {% for cat in item.Category.all %}
                                        <a href="{{cat.get_absolute_url}}">{{cat}}</a>
                                        {% endfor %}
                                    </div><!-- End .entry-cats -->
                                </div><!-- End .entry-body -->
                            </article><!-- End .entry -->
                            {% endfor %}

                            
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .related-articles -->

                    {% include 'blog/parts/comments.html' %}


                    
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


{% endblock %}
