{% load static %}


<div class="tab-pane fade" id="tab-account" role="tabpanel"
                            aria-labelledby="tab-account-link">
                            <form action="{% url 'accounts:profile' %}" method="post"> {% csrf_token %}

                                {{profileForm}}

                                <button type="submit" class="btn btn-outline-primary-2 float-right">
                                    <span>ذخیره تغییرات</span>
                                    <i class="icon-long-arrow-left"></i>
                                </button>

                                <div><a href="{% url 'accounts:forgotPasswordwithPhone' %}"><span>تغییر گذرواژه</span></a></div>
                            </form>
                        </div><!-- .End .tab-pane -->