{% load static %}

{% for banner in banners.ds %}
<div class="page-header text-center" style="background-image: url({{banner.image.url}})">
    <div class="container">
        <h1 class="page-title">داشبورد<span>فروشگاه</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'facades:home' %}">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page">داشبورد</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
{% endfor %}