<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="brands-text text-center mx-auto mb-6">
                <h2 class="title">برند های معروفی که با ما همکاری می کنند</h2>
                <!-- End .title -->
            </div><!-- End .brands-text -->
            <div class="brands-display">
                <div class="row justify-content-center">
                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/1.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/2.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/3.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/7.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/4.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/5.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/6.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->

                    <div class="col-6 col-sm-4 col-md-3">
                        <a href="#" class="brand">
                            <img src="assets/images/brands/9.png" alt="نام برند">
                        </a>
                    </div><!-- End .col-md-3 -->
                </div><!-- End .row -->
            </div><!-- End .brands-display -->
        </div><!-- End .col-lg-10 offset-lg-1 -->
    </div><!-- End .row -->
</div><!-- End .container -->