<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="about-text text-center mt-3">
                <h2 class="title text-center mb-2">ما که هستیم</h2><!-- End .title text-center mb-2 -->
                <p class="text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                    ساختگی با تولید سادگی
                    نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                    تولید
                    سادگی نامفهوم. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی
                    با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم! لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>
                <img src="assets/images/about/about-2/signature.png" alt="signature"
                    class="mx-auto mb-5">

                <img src="assets/images/about/about-2/img-1.jpg" alt="image" class="mx-auto mb-6">
            </div><!-- End .about-text -->
        </div><!-- End .col-lg-10 offset-1 -->
    </div><!-- End .row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-puzzle-piece"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">طراحی فوق العاده</h3><!-- End .icon-box-title -->
                    <p class="text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br>لورم ایپسوم
                        متن ساختگی با تولید
                        سادگی نامفهوم <br>لورم ایپسوم.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-life-ring"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">پشتیباین حرفه ای</h3><!-- End .icon-box-title -->
                    <p class="text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم, <br>لورم
                        ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم <br>لورم ایپسوم متن ساختگی </p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-heart-o"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">تولید با علاقه</h3><!-- End .icon-box-title -->
                    <p class="text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br>لورم ایپسوم
                        متن ساختگی با تولید
                        سادگی نامفهوم <br>لورم ایپسوم با تولید سادگی نامفهوم.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->
    </div><!-- End .row -->
</div><!-- End .container -->