{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="about-text text-center mt-3">
                <h2 class="title text-center mb-2">{{site.fname}}</h2><!-- End .title text-center mb-2 -->
                <p class="text-center">{{site.aboutUs}}
                <br><br>
                {% for banner in banners.ay %}
                <img src="{{banner.image.url}}" alt="image" class="mx-auto mb-6">
                {% endfor %}
            </div><!-- End .about-text -->
        </div><!-- End .col-lg-10 offset-1 -->
    </div><!-- End .row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-puzzle-piece"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">خرید آسان و راحت</h3><!-- End .icon-box-title -->
                    <p class="text-center"> با طراحی کاربرپسندانه و ساده، شما به راحتی می‌توانید محصولات مورد نظر خود را جستجو کنید و با چند کلیک ساده آنها را به سبد خرید خود اضافه کنید.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-life-ring"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">پشتیبانی</h3><!-- End .icon-box-title -->
                    <p class="text-center"> هر ساعتی از شبانه روز 
                    <br> از طریق ایمیل، تلگرام، اینستاگرام و سایت درکنار شما هستیم.</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->

        <div class="col-lg-4 col-sm-6">
            <div class="icon-box icon-box-sm text-center">
                <span class="icon-box-icon">
                    <i class="icon-heart-o"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title">محصولات با کیفیت و گسترده</h3><!-- End .icon-box-title -->
                    <p class="text-center">ما در {{site.fname}} به ارائه محصولات با کیفیت و گسترده تعهد داریم. مجموعه‌ای از محصولات متنوع و با کیفیت را با دقت و بازبینی دقیق برای شما انتخاب کرده‌ایم. </p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-lg-4 col-sm-6 -->


    </div><!-- End .row -->
</div><!-- End .container -->