{% load static %}


<div class="mb-2"></div><!-- End .mb-2 -->

                <div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9"
                    style="background-image: url({% static 'facades/images/about/endBannerAbout.jpg' %})">
                    <div class="container">
                        <div class="row">

                            <div class="col-6 col-md-3">
                                <div class="count-container text-center">
                                    <div class="count-wrapper text-white">
                                        <span class="count" data-from="0" data-to="50" data-speed="3000"
                                            data-refresh-interval="50">0</span>%
                                    </div><!-- End .count-wrapper -->
                                    <h3 class="count-title text-white">تخفیف های فوق العاده</h3><!-- End .count-title -->
                                </div><!-- End .count-container -->
                            </div><!-- End .col-6 col-md-3 -->

                            <div class="col-6 col-md-3">
                                <div class="count-container text-center">
                                    <div class="count-wrapper text-white">
                                        <span class="count" data-from="0" data-to="30" data-speed="3000"
                                            data-refresh-interval="50">0</span> روز
                                    </div><!-- End .count-wrapper -->
                                    <h3 class="count-title text-white">گارانتی بازگشت کالا </h3><!-- End .count-title -->
                                </div><!-- End .count-container -->
                            </div><!-- End .col-6 col-md-3 -->

                            <div class="col-6 col-md-3">
                                <div class="count-container text-center">
                                    <div class="count-wrapper text-white">
                                        <span class="count" data-from="0" data-to="99" data-speed="3000"
                                            data-refresh-interval="50">0</span>%
                                    </div><!-- End .count-wrapper -->
                                    <h3 class="count-title text-white">تحویل سفارشات به موقع</h3><!-- End .count-title -->
                                </div><!-- End .count-container -->
                            </div><!-- End .col-6 col-md-3 -->


                            <div class="col-6 col-md-3">
                                <div class="count-container text-center">
                                    <div class="count-wrapper text-white">
                                        <span class="count" data-from="0" data-to="2" data-speed="30"
                                            data-refresh-interval="50">0</span>
                                    </div><!-- End .count-wrapper -->
                                    <h3 class="count-title text-white">شعبه</h3><!-- End .count-title -->
                                </div><!-- End .count-container -->
                            </div><!-- End .col-6 col-md-3 -->


                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-image pt-8 pb-8 -->