<div class="bg-light-2 pt-6 pb-7 mb-6">
    <div class="container">
        <h2 class="title text-center mb-4">آشنایی با تیم ما</h2><!-- End .title text-center mb-2 -->

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-1.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 1<span>جستجو و سئو</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-2.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 2<span>مدیریت فروش</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-3.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 3<span>مدیریت فروش</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-4.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 4<span>مدیریت فروش</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-5.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 5<span>مدیریت فروش</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-6.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 6<span>مدیریت محصولات</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-7.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 7<span>مدیریت محصولات</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
                <div class="member member-2 text-center">
                    <figure class="member-media">
                        <img src="assets/images/team/about-2/member-8.jpg" alt="توضیح عکس">

                        <figcaption class="member-overlay">
                            <div class="social-icons social-icons-simple">
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                            </div><!-- End .soial-icons -->
                        </figcaption><!-- End .member-overlay -->
                    </figure><!-- End .member-media -->
                    <div class="member-content">
                        <h3 class="member-title">کارمند 8<span>مدیریت محصولات</span></h3>
                        <!-- End .member-title -->
                    </div><!-- End .member-content -->
                </div><!-- End .member -->
            </div><!-- End .col-lg-3 -->
        </div><!-- End .row -->

    </div><!-- End .container -->
</div><!-- End .bg-light-2 pt-6 pb-6 -->