.clickhere{
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}


.after-click{
  width: fit-content !important;
  height: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0.5rem;
  right: 3rem;
  top: -200%;
  transition: 0.8s;
  z-index: 10000;
  border-radius: 1.2rem;
}

.najla{
  display: none !important;
}

.activeNajla{
  top: 5rem;
}


.img-choosed{
  background: #fff;
  border: var(--border);
  width: 40rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  margin: 2rem;
}

.image-container{  
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.image-container.active {
  right: 0;
}


/* scrollbar  */
html::-webkit-scrollbar{
  width: 0.8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 2rem;
}

html::-webkit-scrollbar-thumb{
  background: #363636;
  border-radius: 2rem;
}
