.clickhere{
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}


.after-click{
  width: fit-content !important;
  height: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0.5rem;
  right: 3rem;
  top: -200%;
  transition: 0.8s;
  z-index: 10000;
  border-radius: 1.2rem;
}

.najla{
  display: none !important;
}

.activeNajla{
  top: 5rem;
}
